// Config (variables, breakpoints, maps) 
@import 'config/**/*';

// Mixins
@import 'mixins/**/*';

// Vendor styles
@import 'vendor/**/*';

// Helper styles
@import 'helper/**/*';


// Pattern styles
@import '../patterns/**/*';

// Module styles
@import '../modules/**/*';


.sg-subtitle {
    border-bottom: 1px solid $sg-content-border-color;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4;
    margin: 0 15px 15px;
    padding-bottom: 5px;
    text-transform: capitalize;

    &:not(:first-child) {
        margin-top: $sg-unit;
    }
}