/* Variables */

$white:             #fefefe;
$light-grey:        #eee;
$mid-grey:          #e9e9e9;
$grey:              #ddd;
$dark-grey:         #ccc;
$black:             #111; 
$green:             #48c876;

$primary-color:             $green;
$secondary-color:           $light-grey;

$body-bg-color:             $white;
$text-color:                $black;
$text-color-inverted:       $white;

$content-border-color:      $dark-grey;

$nav-bg-color:              $secondary-color;
$nav-text-color:            $secondary-color;
$nav-border-color:          $dark-grey;

$nav-parent-hover-bg-color:             $mid-grey;
$nav-parent-hover-text-color:           $primary-color;
$nav-parent-mobile-hover-bg-color:      $secondary-color;
$nav-parent-mobile-hover-text-color:    $primary-color;
$nav-link-hover-bg-color:               $primary-color;
$nav-link-hover-text-color:             $text-color-inverted;

$nav-mobile-bg-color:                   $primary-color;
$nav-mobile-text-color:                 $text-color-inverted;
$nav-link-mobile-hover-bg-color:        $secondary-color;
$nav-link-mobile-hover-text-color:      $text-color-inverted;

$btn-bg-color:              transparent;
$btn-hover-bg-color:        transparent;
$btn-hover-text-color:      $primary-color;


$unit:              30px;
$content-width:     75%;
$nav-width:         25%;




/* -------------------------------------------------------------------------

 Style Guide Boilerplate
 Repo: https://github.com/bjankord/Style-Guide-Boilerplate
 Author: Brett Jankord
 License: MIT

 ---------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------
 Utility Classes
 ---------------------------------------------------------------------------- */

/* http:/paulirish.com/2012/box-sizing-border-box-ftw/ */
*,
*:before,
*:after {
    box-sizing: border-box;
}

.sg-container:before,
.sg-container:after,
.sg-clearfix:before,
.sg-clearfix:after,
.sg-section:before,
.sg-section:after,
.sg-markup-controls:before,
.sg-markup-controls:after {
    content: '';
    display: table;
    line-height: 0;
}

.sg-container:after,
.sg-clearfix:after,
.sg-section:after,
.sg-markup-controls:after {
    clear: both;
}

.sg-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.sg-visually-hidden-focusable:active,
.sg-visually-hidden-focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

@mixin clearfix() {
    &:before,
    &:after {
        content: ' '; /* 1 */
        display: table; /* 2 */
    }

    &:after {
        clear: both;
    }
}


/* -------------------------------------------------------------------------
 Fonts
 ---------------------------------------------------------------------------- */

%font {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* SG Font 1 */
.sg-font1,
.sg-logo,
.sg-about p,
.sg-color-value {
    @extend %font;
    font-weight: 400;
}

/* SG Font 2 */
.sg-font2,
.sg-logo em,
.sg-nav-toggle,
.sg-h1,
.sg-h2,
.sg-h3,
.sg-color-name,
.sg-font-list dt {
    @extend %font;
    font-weight: 500;
}


/* Typography
---------------------------------------------------------------------------- */
.sg-h1,
.sg-h2 {
    margin-bottom: 1em;
    margin-top: 0;
}

.sg-h1 {
    font-size: 2em;
    padding-bottom: 0.2em;
    text-transform: capitalize;
}

.sg-h2 {
    font-size: 1.75em;
    margin-bottom: 0.75em;
    padding-bottom: 0.2em;
    text-transform: capitalize;
}

.sg-h3 {
    font-size: 1em;
    font-weight: 600;
}

.sg-about, 
.markdown-body {
    p {
        font-size: 1.1em;
        max-width: 800px;
        margin: auto;
    }
}


/* -------------------------------------------------------------------------
 Base Layout
 ---------------------------------------------------------------------------- */

/* Content
---------------------------------------------------------------------------- */
html {
    &.nav-is-active {
        @media screen and (max-width: 1024px) {
            overflow: hidden;
        }
    }
}

body {
    @extend %font;
    background: $body-bg-color;
    margin: 0;
}

.sg-header {
    background: #000;
    color: #fff;
    padding-bottom: 0.75rem;
    padding-bottom: 12px; /* For older browsers */
    padding-top: 0.75rem;
    padding-top: 12px; /* For older browsers */
    margin-left: 20%;
}

.sg-main {
    margin-bottom: $unit * 2;

    @media screen and (min-width: 768px) { 
        padding: 0 $unit;
    }
}

@media screen and (min-width: 1025px) {
    .nav-is-active {
        .styleguide-full {
            .sg-main {
                float: right;
                transition: width 0.4s ease;
                width: $content-width;
            }
        }
    }

    .styleguide-full {
        .sg-main {
            float: right;
            width: 100%;
            transition: width 0.4s ease;
        }
    }
}


/* -------------------------------------------------------------------------
 Navigation
 ---------------------------------------------------------------------------- */

/* Navigtion Toggle
---------------------------------------------------------------------------- */

.sg-nav-toggle-container {
    position: fixed;
    z-index: 11;
    width: 100%;
    
    @media screen and (max-width: 1024px) {
        background: $body-bg-color;
        border-bottom: 1px solid $content-border-color;

        .nav-is-active & {
            background: $primary-color;
            border-bottom-color: transparent;
        }
    }
    
}

.sg-sticky-bg-helper {
    @media screen and (max-width: 1024px) {
        display: none;
    }

    @media screen and (min-width: 1025px) {
        background: $body-bg-color;
        height: 50px;
        position: absolute;
            right: 0;
            top: 0;
            transition: width 0.4s ease;
        width: 100%;
        
        .nav-is-active & {
            width: $content-width;
        }
    }
}

.sg-nav-toggle {
    background: $btn-bg-color;
    border: 0;
    color: $text-color;
    display: flex;
        align-items: center;
        justify-content: center;
    font-size: 16px;
    font-size: 1rem;
    height: 50px;
    padding: 0;
    position: relative;
    text-decoration: none;
    width: 47px;
    z-index: 11;

    @media screen and (min-width: 768px) {
        margin-left: $unit / 2;
    }

    &:hover,
    &:focus {
        color: $btn-hover-text-color;
        cursor: pointer;
        outline: 0;
    }

    i {
        position: absolute;
    }

    .fa-times {
        font-size: 22px;
        display: none;
    }

    .fa-navicon {
        display: block;
    }
}

.nav-is-active {
    .sg-nav-toggle {
        @media screen and (max-width: 1024px) {
            color: $text-color-inverted;

            &:hover,
            &:focus {
                color: $text-color;
                outline: 0;
            }
        }
        
        .fa-times {
            display: block;
        }

        .fa-navicon {
            display: none;
        }
    }
}



/* Navigtion Container
---------------------------------------------------------------------------- */

.sg-sidebar {
    background: $nav-bg-color;

    @media screen and (max-width: 1024px) {
        .js & {
            padding-top: 50px;
            opacity: 0;
            position: absolute;
                top: -100%;
            visibility: hidden;
            z-index: -100;
        }

        .nav-is-active & {
            background: $nav-mobile-bg-color;
            color: $nav-mobile-text-color;
            display: flex;
            height: 100vh;
            opacity: 1;
            overflow-y: auto;
            position: fixed;
                top: 0;
            width: 100%;
            visibility: visible;
            z-index: 10;
        }
    }

    @media screen and (min-width: 1025px) {
        float: left;
        font-size: 14px;
        opacity: 0;
        overflow-y: scroll;
        padding: 50px 0;
        position: fixed;
            bottom: 0;
            top: 0;
        width: $nav-width; 

        .js & {
            transform: translateX(-100%);
            transition: transform 0.4s ease, opacity 0.4s ease;
        }

        .nav-is-active & {
            transform: translateX(0%);
            transition: transform 0.4s ease, opacity 0.4s ease;
            opacity: 1;
        }
    }
}


/* Navigtion List
---------------------------------------------------------------------------- */

.sg-nav-list {
    @media screen and (max-width: 1024px) {
        color: text-color-inverted;
        width: 100%;
    }

    @media screen and (min-width: 1025px) {
        color: $text-color;
    }
}

.sg-nav-lv-0 {
    @media screen and (min-width: 1025px) {
        background: $nav-bg-color;
        border-top: 1px solid $nav-border-color;
    }
}

.sg-nav-list,
.sg-nav-item {
    margin: 0;
    padding: 0;
}


/* Navigtion Item
---------------------------------------------------------------------------- */

.sg-nav-item {
    list-style: none;  
}

.sg-nav-lv-0 {
    > .sg-nav-item {
        @media screen and (min-width: 1025px) {
            border-bottom: 1px solid $nav-border-color;
        }
    }   
}

.sg-nav-lv-1 {
    > .sg-nav-item:last-child {
        padding-bottom: $unit / 2;
    }

    > .sg-nav-item:not(:last-child) {
        .sg-nav-item:last-child {
            padding-bottom: $unit / 2;
        }
    }
}


/* Navigtion Item Link & Text
---------------------------------------------------------------------------- */

.sg-nav-link {
    cursor: pointer;
    display: block;
    display: flex;
        align-items: center;
    margin: 0;
    padding: 0 ($unit / 2) 0 $unit;
    text-transform: capitalize;

     @media screen and (min-width: 1025px) {
        &:hover {
            background: $nav-parent-hover-bg-color;
            color: $nav-parent-hover-text-color;
        }
     }
}

.sg-nav-link-lv-0 {
    font-size: 1.25em;
    min-height: 50px;
    
    @media screen and (max-width: 767px) {
        padding-left: 33px; // even with navigation-toggle
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        padding-left: 49px; // even with navigation-toggle
    }
    
    @media screen and (max-width: 1024px) {
        background: rgba($nav-parent-mobile-hover-bg-color, 0.4);
        margin-bottom: 1px;
        position: relative;
        width: 100%;
        
        &:before {
            content: '';
            display: block;
            padding-top: 50%; 
            transition: padding-top 0.4s ease;
        }        

        &:hover,
        &.active {
            background: $mid-grey;
            color: $nav-parent-mobile-hover-text-color;
        }

        &.active {
            &:before {
                padding-top: 0;
                transition: padding-top 0.4s ease 0.05s;
            }
        }
    }
}

.sg-nav-link-lv-1 {
    font-size: 1em;

    &.multiline {
        padding-bottom: 5px;
        padding-top: 5px;
    }

    @media screen and (max-width: 1024px) {
        background: rgba($nav-parent-mobile-hover-bg-color, 0.2);
        margin-bottom: 1px;
        position: relative;
        width: 100%;

        &:before {
            content: '';
            display: block;
            padding-top: 30%;
            transition: padding-top 0.4s ease;
        }
        
        &:hover,
        &.active {
            background: rgba($nav-parent-mobile-hover-bg-color, 0.4);
        }

        &.active {
            &:before {
                padding-top: 0;
                transition: padding-top 0.4s ease 0.05s;
            }
        }
    }
}

.sg-nav-link-lv-1,
.sg-nav-link-lv-2 {
    padding: 0 ($unit / 2) 0 ($unit * 1.5);

    @media screen and (max-width: 1024px) {
        min-height: $unit * 1.5;
    }

    @media screen and (min-width: 1025px) {
        min-height: $unit;
    }
}

.sg-nav-link-lv-2,
.sg-nav-link-lv-2:visited {
    @extend %font;
    text-decoration: none;
    transition: all 0.15s ease-in;

    @media screen and (max-width: 1024px) {
        color: $text-color-inverted;
    }

    @media screen and (min-width: 1025px) {
        color: $text-color;
    }
}

.sg-nav-link-lv-2 {
    border-bottom: 1px solid rgba($secondary-color, 0.4);

    &.active,
    &:hover,
    &:focus {
        @media screen and (max-width: 1024px) {
            background: rgba($nav-link-mobile-hover-bg-color, 0.2); 
            color: $nav-link-mobile-hover-text-color;
        }

        @media screen and (min-width: 1025px) {
            background: $nav-link-hover-bg-color;
            color: $nav-link-hover-text-color;
        }
        
    }
}


/* Navigtion Item Icon
---------------------------------------------------------------------------- */

.sg-nav-link {
    i {
        font-size: 14px;
        margin-left: -($unit / 2);
    }
}

// on.click h3.sg-nav-link-lv-0 js detects if .sg-nav-text is > $unit (30px)
// if yes, the container gets .multiline and we can reset the align-items: center;
// for the icon so that it always stays on top.
// -jLaz
@media screen and (min-width: 1025px) {
    .multiline {
        i {
            align-self: flex-start;
            margin-top: 3px;
        }
    }
}


/* Navigtion Item Text
---------------------------------------------------------------------------- */

.sg-nav-text {
    line-height: 1.4;
    display: block;
}

.sg-nav-link-lv-0,
.sg-nav-link-lv-1 {
    .sg-nav-text {
        margin-left: 5px;
    }
}


/* -------------------------------------------------------------------------
 SG Sections
 ---------------------------------------------------------------------------- */

.sg-section {
    margin-bottom: $unit;   
}

/* Section Anchor
---------------------------------------------------------------------------- */

.sg-section-anchor {
    border-bottom: 1px solid $content-border-color;
    display: block;
    height: 51px;
    width: 100%;
}


/* Section Header
---------------------------------------------------------------------------- */

.sg-section-header {
    background: $body-bg-color;
    border-bottom: 1px solid $content-border-color;

    &.fixed {
        box-sizing: border-box;
        position: fixed;
            top: 0;
        z-index: 0;

        @media screen and (max-width: 767px) {         
            width: 100%;
        }

        @media screen and (min-width: 768px) { 
            transition: width 0.4s ease;
            width: calc( 100% - (#{$unit} * 2) );
        }
    }

    &.fixed.absolute {
        position: absolute;
    }
}

.nav-is-active {
    .sg-section-header.fixed {
        width: calc( #{$content-width} - (#{$unit} * 2));
    }
}

.sg-section-title {
    border: 0;
    display: inline-block;
    font-size: 1.25em;
    line-height: 50px;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 767px) { 
        font-size: 1em;
        margin-left: $unit / 2;
    }
}


/* Section Buttons
---------------------------------------------------------------------------- */

.sg-button-container {
    @media screen and (max-width: 599px) { 
        @include clearfix;
        border-top: 1px solid $content-border-color;
        display: flex;
        justify-content: flex-end;
    }

    @media screen and (min-width: 600px) { 
        float: right;  
        border-left: 1px solid $content-border-color;
    }
}

.sg-btn {
    background: $btn-bg-color;
    border: 0;
    border-right: 1px solid $content-border-color;
    color: $text-color;
    float: left;
    font-size: 16px; // For older browsers 
    font-size: 1rem;
    line-height: 50px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 50px;

    height: 50px;
    display: flex;
        align-items: center;
        justify-content: center;

    &:hover, 
    &:focus, 
    &.btn-active {
        background: $btn-hover-bg-color;
        outline: 0;
        
        i {
            color: $btn-hover-text-color;        
        }
    }

    &:last-child {
        @media screen and (max-width: 599px) { 
            border: 0;
        }
    }
    
    // some enhaced stuff b/c those icons are so different
    .fa-arrows-alt {
        font-size: 15px;
        -webkit-font-smoothing: none;
    }

    .fa-code {
        font-size: 18px;
        -webkit-font-smoothing: inherit;
         
    }

    .fa-times {
        font-size: 22px;
        line-height: 15px;
    }

    .fa-arrow-up {
        font-size: 19px;
        line-height: 15px;
    }

    .fa-arrow-left {
        font-size: 19px;
        line-height: 15px;
    }
}


// Safari fix for icons in buttons (weren't centered)
button {
    i {
        width: 100%; 
    }
}


// we want to replace and modify some buttons depending on the view
.styleguide-full {
    .btn-back {
        display: none;
    }

    .btn-expand {
        @media screen and (max-width: 599px) { 
            border-left: 1px solid $content-border-color;
        }
    }
}

.styleguide-single {
    .btn-expand,
    .sg-btn--top {
        display: none;
    }

    .btn-back {
        @media screen and (max-width: 599px) { 
            border-left: 1px solid $content-border-color;
        }
    }

    .sg-btn--source {
        @media screen and (max-width: 599px) { 
            border: 0;
        }
    }
}



// we don't want display: block here
.sg-enhanced .sg-btn--source { 
    display: flex;
}


/*
.sg-btn--single {
    float: right;
}

.sg-btn--top {
    float: right;
}

.sg-btn--source,
.sg-btn--select {
    display: none;
}

// Show specific buttons we cut the mustard 
.sg-enhanced .sg-btn--source {
    display: block;
}

@media screen and (min-width: 1025px) {
    .sg-enhanced .sg-btn--select {
        display: block;
    }
}

.sg-btn--select {
    border-radius: 0;
    position: absolute;
    right: 1px;
    top: 1px;
    z-index: 1;
}

.sg-btn--select-active:hover:after {
    background: #111; // For older browsers
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    color: $white;
    content: 'Selected code ready to be copied';
    display: block;
    padding: 8px 16px; // For older browsers
    padding: 0.5rem 1rem;
    position: absolute;
    right: 8px; // For older browsers
    right: 0.5rem;
    top: 48px; // For older browsers
    top: 3rem;
    white-space: nowrap;
    z-index: 98;
}

.sg-btn--select-active:hover:before {
    border-color: transparent transparent $black;
    border-style: solid;
    border-width: 0 10px 10px;
    content: '';
    display: block;
    height: 0;
    left: 45%;
    position: absolute;
    top: 40px;
    top: 2.5rem;
    width: 0;
    z-index: 99;
}
*/


/* Section Code Preview
---------------------------------------------------------------------------- */

.sg-source {
    position: relative;

    /* experimental */
    max-height: 50vh;
    margin: 0 0 $unit;
    overflow: auto;

    pre {
        background: $light-grey !important;
        overflow-x: scroll;
        margin: 0 !important;

        code {
            background: transparent;
            -webkit-font-smoothing: antialiased;
        }
    }
}


/* Hide source code blocks off-screen */
.sg-enhanced .sg-source {
    opacity: 0;
    position: absolute;
    top: -100%;
    width: 1px;
    transition: opacity 0.6s ease-out;
}

/* Show source code blocks when active or JS is not enabled */
.sg-enhanced .sg-source-active {
    opacity: 1;
    position: relative;
    width: 100%;
}


/* Section Markdown Documentation
---------------------------------------------------------------------------- */

.sg-doc { 
    background: $secondary-color;
    border: 0;
    margin: 0;
}

.markdown-body { 
    h1,
    h2,
    h3 {
        border: 0;
        padding: 0;
    }

    h1 {
        font-size: 1.8em;
    }

    blockquote {
        padding: 0 0 0 1em;
        color: $text-color;
        border-left: 0.25em solid $primary-color;
    }

    p {
        font-size: 1em;
        margin: 0;
    }

    pre,
    code {
        background: $grey;
    }
}

.markdown-body {
    padding: $unit / 2;
    
    @media screen and (min-width: 768px) {
        max-width: 83%; // 83% = 10col
    }
}


/* Section Preview
---------------------------------------------------------------------------- */

.sg-preview {
    margin: $unit 0 0;
}


/* -------------------------------------------------------------------------
 Modules
 ---------------------------------------------------------------------------- */

/* Branding
---------------------------------------------------------------------------- */

.sg-logo {
    float: left;
    font-size: 1em;
    line-height: 2;
    margin: 0;
    padding: 0;
}

.sg-logo-full {
    display: none;
}

.sg-logo em {
    font-style: normal;
}

@media screen and (min-width: 650px) {
    .sg-logo-initials {
        display: none;
    }

    .sg-logo-full {
        display: inline;
    }
}


/* Responsive Videos
---------------------------------------------------------------------------- */

.sg-video {
    height: 0;
    padding-top: 56.25%;
    position: relative;
}

.sg-video video {
    height: 100%;
    position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    width: 100%;
    z-index: 100;
}


/* Colors
---------------------------------------------------------------------------- */

/* .sg-color {
    margin-bottom: 1.5em;
}

.sg-color-swatch {
    padding-top: 20%; // Used to set height of color swatch
}

.sg-color-name {
    font-size: 10.2em; // Test this with 1.1 em
    padding: 0.5em 0;
}

.sg-color-value {
    font-size: 10.2em;  // Test this with 1.1 em
}

@media only screen and (min-width: 375px) {
    .sg-color-grid {
        margin: 0 -2.5%;
        overflow: hidden;
    }

    .sg-color {
        float: left;
        margin-left: 2.5%;
        margin-right: 2.5%;
        width: 45%;
    }

}

@media only screen and (min-width: 760px) {
    .sg-color {
        margin-left: 1.5%;
        margin-right: 1.5%;
        width: 22%;
    }

    .sg-color-grid {
        margin: 0 -1.5%;
    }
} */


/* Fonts List
---------------------------------------------------------------------------- */

.sg-font-list,
.sg-font-list li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sg-font-list {
    font-size: 1.1em;
}

.sg-font-list dt {
    display: block;
    padding-bottom: 0.25em;
}

.sg-font-list dd {
    border-bottom: 1px solid #ddd;
    display: block;
    margin-bottom: 0.75em;
    margin-left: 0;
    padding-bottom: 0.75em;
}

@media only screen and (min-width: 760px) {
    .sg-font-list dt {
        float: left;
        padding-right: 0.25em;
    }
}












/* scss aus Modulen/Patterns wird nicht geladen.. */
.styleguide__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.styleguide__element {
    margin: 0 0.75em 1.5em;
}

.styleguide__colorbox {
    display: block;
    width: 150px;
    height: 150px;
    padding: 10px;
    border: 1px solid transparent;
    color: #fff;
}

.styleguide__definition {
    margin: 0.5em 0;
    list-style: none;
    color: #7a7a7a;
    line-height: 1.2em;
    padding: 0;
    font-size: 14px;
}
