# Logs
logs
*.log

# Temporary files
.DS_Store

# Node modules
node_modules

# Sass cache
.sass-cache

# Grunt intermediate storage
.grunt

# Artifacts folder with generated content
artifacts

# compiled css
src/css/

# sass-globbing
src/components/sass/import

# Generated distribution files
dist

# PhpStorm/Webstorm project files
.idea

# netbeans
nbproject/private/private.properties
nbproject/project.properties
nbproject/project.xml
nbproject/private/private.xml
