# Logs
logs
*.log

# Temporary files
.DS_Store

# Node modules
node_modules

# Sass cache
.sass-cache

# Grunt intermediate storage
.grunt

# Artifacts folder with generated content
artifacts

# sass-globbing
src/components/sass/import

# lodash build files
src/components/app/vendor/lodash.build.js
src/components/app/vendor/lodash.build.min.js

# Generated distribution files
dist

# PhpStorm/Webstorm project files
.idea

# netbeans
nbproject/private/private.properties
nbproject/project.properties
nbproject/project.xml
nbproject/private/private.xml
