{
    "plugins": [
        "stylelint-scss"
    ],
    "rules": {
        "at-rule-name-space-after": "always",
        "block-no-single-line": true,
        "color-hex-length": "short",
        "color-hex-case": "lower",
        "color-no-invalid-hex": true,
        "declaration-bang-space-before": "always",
        "declaration-bang-space-after": "never",
        "declaration-block-single-line-max-declarations": 1,
        "declaration-block-no-shorthand-property-overrides": true,
        "declaration-colon-space-after": "always",
        "declaration-block-trailing-semicolon": "always",
        "function-calc-no-unspaced-operator": true,
        "function-comma-space-after": "always",
        "function-url-no-scheme-relative": true,
        "function-url-quotes": "always",
        "indentation": 4,
        "max-nesting-depth": 3,
        "number-leading-zero": "always",
        "number-no-trailing-zeros": true,
        "length-zero-no-unit": true,
        "property-no-unknown": true,
        "property-no-vendor-prefix": true,
        "selector-no-id": true,
        "selector-no-qualifying-type": true,
        "shorthand-property-no-redundant-values": true,
        "string-quotes": "single",
        "selector-class-pattern": "^[a-z\\-_0-9]+$",
        "declaration-property-value-blacklist": { "border": ["none"] },
        "at-rule-blacklist": ["debug"],
        "block-no-empty": true,
        "no-missing-end-of-source-newline": true,
        "no-duplicate-selectors": true,
        "declaration-no-important": true,
        "declaration-block-no-duplicate-properties": true,
        "declaration-block-no-ignored-properties": true,
        "declaration-block-semicolon-newline-after": "always",
        "no-extra-semicolons": true,

        "scss/at-extend-no-missing-placeholder": true,
        "scss/at-import-no-partial-leading-underscore": true,
        "scss/double-slash-comment-inline": "never",
        "scss/selector-no-redundant-nesting-selector": true,
        "scss/at-function-pattern": "^[a-z\\-_0-9]+$",
        "scss/at-mixin-pattern": "^[a-z\\-_0-9]+$",
        "scss/dollar-variable-pattern": "^[a-z\\-_0-9]+$"
    }
}
