{
  "extends": "stylelint-config-standard",
  "rules": {
    "declaration-block-no-duplicate-properties": [true, {
      "ignore": ["consecutive-duplicates-with-different-values"]
    }],
    "block-no-empty": true,
    "property-no-unknown": false,
    "at-rule-blacklist": ["import"],
    "selector-attribute-operator-blacklist": ["~=", "^=", "|=", "$=", "*="],
    "selector-no-universal": true,
    "length-zero-no-unit": true,
    "selector-no-id": true,
    "declaration-no-important": true,
    "at-rule-name-space-after": "always",
    "block-opening-brace-newline-before": "never",
    "block-opening-brace-newline-after": "always",
    "block-closing-brace-newline-after": "always",
    "block-closing-brace-newline-before": "always",
    "color-hex-length": "short",
    "color-hex-case": "lower",
    "color-no-invalid-hex": true,
    "declaration-bang-space-before": "always",
    "declaration-bang-space-after": "never",
    "declaration-block-single-line-max-declarations": 1,
    "declaration-block-no-shorthand-property-overrides": true,
    "declaration-colon-space-after": "always",
    "declaration-block-trailing-semicolon": "always",
    "function-calc-no-unspaced-operator": true,
    "function-comma-space-after": "always",
    "function-url-no-scheme-relative": true,
    "function-url-quotes": "always",
    "indentation": 4,
    "max-nesting-depth": 3,
    "number-leading-zero": "always",
    "number-no-trailing-zeros": true,
    "property-no-vendor-prefix": true,
    "selector-no-qualifying-type": true,
    "shorthand-property-no-redundant-values": true,
    "string-quotes": "single",
    "selector-class-pattern": "^[a-z\\-_0-9]+$",
    "declaration-property-value-blacklist": { "border": ["none"] },
    "no-missing-end-of-source-newline": true,
    "no-duplicate-selectors": true,
    "declaration-block-semicolon-newline-after": "always",
    "no-extra-semicolons": true
  }
}
