// Variables
@import '../../sass/sg-theme/utilities/variables';

.styleguide__list {
    @include clearfix;
    list-style: none;
    margin: 0;
    padding: 0;
    
    @media screen and (min-width: 481px) {
        margin: 0 15px
    }
}

.styleguide__element {
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 5px;

    @media screen and (max-width: 480px) {
        margin: 15px;   
    }

    @media screen and (min-width: 481px) {
        float: left;
        min-height: 170px;
        margin: 7.5px;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
        width: calc(50% - 7.5px);
        
        &:nth-child(2n+1) {
            margin-left: 0;
        }

        &:nth-child(2n+2) {
            margin-right: 0;
        }
    }

    @media screen and (min-width: 769px) and (max-width: 1024px){
        width: calc(100% / 3 - 11px);

        &:nth-child(3n+1) {
            margin-left: 0;
        }

        &:nth-child(3n+3) {
            margin-right: 0;
        }
    }

    @media screen and (min-width: 1025px) and (max-width: 1299px) {
        width: calc(100% / 4 - 11.5px);

        &:nth-child(4n+1) {
            margin-left: 0;
        }

        &:nth-child(4n+4) {
            margin-right: 0;
        }
    }

    @media screen and (min-width: 1300px) {
        width: calc(100% / 6 - 12.5px);

        &:nth-child(6n+1) {
            margin-left: 0;
        }

        &:nth-child(6n+6) {
            margin-right: 0;
        }
    }
}

.styleguide__colorbox {
    border: 1px solid transparent;
    border-radius: 2px;
    color: $sg-text-color-inverted;
    display: block;
    height: 70px;
}

.styleguide__definition--info {
    font-weight: 600;
}

.styleguide__definition {
    color: $sg-text-color;
    font-size: 14px;
    list-style: none;
    margin: 0.5em 0;
    padding: 0;
}
