// Grid configuration

// Grid columns
// based on site breakpoints
$grid-cols: (
    default: 12,
    xsmall: 12,
    small: 12,
    medium: 12,
    large: 12
);

// Grid gutters
// based on site breakpoints
$grid-gutter: (
    default: 0,
    xsmall: 20px,
    small: 20px,
    medium: 20px,
    large: 30px
);
