/* -------------------------------------------------------------------------
 Base Layout
 ---------------------------------------------------------------------------- */

/* Page
---------------------------------------------------------------------------- */

html {
    overflow-x: hidden; // needed for offcanvas navigation pushing the content
}

body {
    @extend %font;
    background: $sg-body-bg-color;
    margin: 0;
}

@media screen and (max-width: 768px) {
    html.nav-is-active,
    .nav-is-active body {
        overflow: hidden;
    }
}

            
/* Content
---------------------------------------------------------------------------- */
@keyframes blur-this {
    0% { 
        filter: blur(0px);
    }
    100% { 
        filter: blur(2px);
    }
}

@keyframes unblur-this {
    0% { 
        filter: blur(2px);
    }
    100% { 
        filter: blur(0px);
    }
}

.sg-main {
    // prevent module preview content from thinking outside of the box and overlap the nav
    overflow-x: hidden; 
    // prevent navigation overlapping the sections
    position: relative;
    z-index: 0;
    
    .nav-is-active &,
    .nav-closing & {
        animation-duration: 0.5s; 
        animation-iteration-count: 1;
        animation-direction: alternate; 
        animation-timing-function: ease-out; 
        animation-fill-mode: forwards; 
        animation-delay: 0s; 
    } 

    .nav-is-active & {
        animation-name: blur-this;
    }

    .nav-closing & {
        animation-name: unblur-this;
    }
}

.styleguide-full {
    .sg-main {
        width: 100%;
    }
}



/* -------------------------------------------------------------------------
 SG Sections
 ---------------------------------------------------------------------------- */

.sg-section {
    // fancy shit
    /*
    opacity: 0;
    animation: fadeIn ease 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    will-change: opacity; 
    */

    @for $i from 1 through 10 {
        /*
        &:nth-child(#{$i}) {
            animation-delay: #{$i}00ms;
        }
        */
    }
}


/* Section Header
---------------------------------------------------------------------------- */

// Header Container

.sg-section-header {
    width: 100%;

    &.fixed {
        box-sizing: border-box;
        position: fixed;
        top: 0;
        z-index: 1100;
    }

    &.fixed.absolute {
        position: absolute;
    }
}

@media screen and (min-width: 769px) {
    .nav-is-active {
        .sg-section-header.fixed {
            width: 100%;
        }
    }
}

// Section Anchor

.sg-section-anchor {
    border-bottom: 1px solid $sg-content-border-color;
    background: $sg-body-bg-color;
    height: 51px;
    display: block;
    width: 100%;
    
    .styleguide-single & {
        border: 0;
        height: 0;
    }
}

.sg-header-group {
    background: $sg-body-bg-color;
    border-bottom: 1px solid $sg-content-border-color;

    @media screen and (min-width: 769px) {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
}

// Section Title

.sg-title-container {
    display: flex;
    align-items: center;
    margin-left: $sg-unit / 2;
    min-height: 50px;

}

.sg-section-title {
    border: 0;
    display: inline-block;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    text-transform: capitalize;

    // <= iPhone6 Plus Landscape
    @media screen and (max-width: 736px) { 
        font-size: 1em;
    }

    @media screen and (max-width: 1024px) {
        padding: 10px 0;
    }
}

/* Section Documentation & Source Code Toggle
---------------------------------------------------------------------------- */
.sg-toggle-container {
    background: $sg-light-grey;
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 0.5s cubic-bezier(0.75, 0.02, 0.5, 1);
    width: 100%;

    &.sg-active {
        max-height: 50vh;
        
        + .sg-active {
            border-top: 1px solid $sg-body-bg-color;
        }
    }
    
    svg {
        float: left;
        margin-left: 15px;

        use {
            fill: $sg-darker-grey;
        }
    }
}

.sg-documentation-container,
.sg-source-container { 
    &:before {
        color: $sg-darker-grey;
        display: block;
        font-size: 12px;
        line-height: 45px;
        position: absolute;
        top: 0;
        text-transform: uppercase;
        z-index: 1;
    }
}

.sg-documentation-container {
    svg {
        height: 16px;
        margin-top: 14px;
        width: 16px;
    }

    &:before {
        content: 'Dokumentation';
        left: 45px;
    }
}

.sg-source-container {
    svg {
        height: 25px;
        margin-top: 10px;
        width: 23px;
    }

    &:before {
        content: 'Source Code';
        left: 47px;
    }
}

.sg-documentation,
.sg-source {
    max-height: 50vh;
    margin-top: $sg-unit * 1.5;
    padding-left: $sg-unit / 2;
}

// Documentation

.sg-documentation {
    border: 0;
    overflow: visible;
    padding-bottom: $sg-unit / 2;

    @media screen and (max-width: 768px) {
        padding-right: $sg-unit / 2;
    }

    @media screen and (min-width: 769px) {
        padding-right: 17%; // 83% = 10col
    }
}

// Source Code

.sg-source {
    overflow: auto;
    padding-bottom: $sg-unit * 2;
    padding-right: $sg-unit / 2;

    pre {
        background: transparent !important;
        overflow-x: scroll;
        margin: 0 !important;
        padding: 0 !important;

        code {
            background: transparent;
            -webkit-font-smoothing: antialiased;
        }
    }
}


// Markdown

.markdown-body {
    h1,
    h2,
    h3 {
        border: 0;
        padding: 0;
    }

    h1 {
        font-size: 1.8em;
    }

    blockquote {
        padding: 0 0 0 1em;
        color: $sg-text-color;
        border-left: 0.25em solid $sg-primary-color;
    }

    p {
        font-size: 1em;
        margin: 0;
    }

    pre,
    code {
        background: $sg-grey;
    }
}


/* Section Preview
---------------------------------------------------------------------------- */

.sg-preview {
    // prevent module position fixed elements from thinking out of their box.
    position: relative; 
    padding-top: $sg-unit;
    text-align: center;
    
    .bgcolor-1 & {
        background: $sg-section-bg-color-1;
    }

    .bgcolor-2 & {
        background: $sg-section-bg-color-2;
    }

    .bgcolor-3 & {
        background: $sg-section-bg-color-3;
    }
}

.sg-section:last-child {
    .sg-preview {
        padding-bottom: $sg-unit * 2;
    }
}

iframe {
    height: 50px;
    margin: 0 auto;
    transition: height 0.4s ease, width 0.4s ease;
    width: 100%;
}


.sg-refreshing-modules-modal {
    &:before {
        background-color: rgba($sg-white, 0.75);
        content: 'Refreshing modules for responsive view..';
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        z-index: 3000;
    }
}
