/* -------------------------------------------------------------------------
 Navigation Toggle
 ---------------------------------------------------------------------------- */

.sg-nav-toggle-container {
    height: 50px;
    position: fixed;
    z-index: 2100;
    width: $nav-width;
   
}

.sg-nav-toggle {
    background: $btn-bg-color;
    border: 0;
    color: $btn-text-color;
    display: flex;
        align-items: center;
        justify-content: center;
    font-size: 16px;
    font-size: 1rem;
    height: 50px;
    padding: 0;
    position: fixed;
    text-decoration: none;
    width: 47px;
    z-index: 1100;

    &:hover,
    &:focus {
        color: $btn-text-color-hover;
        cursor: pointer;
        outline: 0;
    }

    i {
        position: absolute;
    }
    
    // some enhaced stuff b/c those icons are so different
    // https://github.com/TrySound/postcss-inline-svg
    // needs grunt styleguide --force

    i,
    i:before {
        height: 14px;
        width: 14px;
    }

    i {
        &:before {
            background-repeat: no-repeat;
            background-size: contain;
            content: '';
            display: block;
        }
    }

    // menu icon
    .fa-navicon:before {
        background-image: svg-load('../img/font-awesome-svg/navicon.svg', fill=$btn-text-color);
    }

    &:hover .fa-navicon:before {
        background-image: svg-load('../img/font-awesome-svg/navicon.svg', fill=$primary-color);
    }

    // close icon
    .fa-times:before {
        background-image: svg-load('../img/font-awesome-svg/times.svg', fill=$btn-text-color-inverted);
    }

    &:hover .fa-times:before {
        background-image: svg-load('../img/font-awesome-svg/times.svg', fill=$primary-color);
    }
    
    .fa-times,
    .fa-times:before {
        height: 20px;
        width: 19px;
    }

    .fa-times {
        display: none;
    }

    .fa-navicon {
        display: block;
    }
}

.nav-is-active {
    .sg-nav-toggle {
        @media screen and (max-width: 1024px) {            
            &:hover,
            &:focus {
                outline: 0;
            }

            // close icon
            .fa-times:before {
                background-image: svg-load('../img/font-awesome-svg/times.svg', fill=$nav-text-color-mobile);
            }

            &:hover .fa-times:before {
                background-image: svg-load('../img/font-awesome-svg/times.svg', fill=$nav-text-color);
            }
        }
        
        .fa-times {
            display: block;
        }

        .fa-navicon {
            display: none;
        }
    }
}


/* -------------------------------------------------------------------------
 Navigation Container
 ---------------------------------------------------------------------------- */

.sg-navigation-container {
    padding-top: 50px;
    overflow: hidden;

    @media screen and (max-width: 1024px) {
        .js & {
            position: absolute;
            visibility: hidden;
            z-index: -1000;
        }

        .nav-is-active & {
            background: $nav-bg-color-mobile;
            height: 100vh;
            position: fixed;
                top: 0;
            width: 100%;
            visibility: visible;
            z-index: 2000;
        }
    }

    @media screen and (min-width: 1025px) {
        background: $nav-bg-color;
        position: fixed;
            bottom: 0;
            top: 0;
        transition: transform 0.5s cubic-bezier(0.75, 0.02, 0.5, 1);
        transform: translateX(-50%);
        width: $nav-width; 
        z-index: -1;

        .nav-is-active & {
            transform: translateX(0);
            z-index: 0;
        }
    }
}

.sg-navigation {
    height: 100%;
    overflow: scroll;
    position: absolute;
        top: 50px;
    width: 100%;

    @media screen and (max-width: 1024px) {
        .nav-is-active & {
            color: $nav-text-color-mobile;
        }
    }

    @media screen and (min-width: 1025px) {
        font-size: 14px;
        
    }
}


/* -------------------------------------------------------------------------
 Navigation Lists
 ---------------------------------------------------------------------------- */

/* general
---------------------------------------------------------------------------- */

// List
.sg-nav-list {
    @media screen and (max-width: 1024px) {
        color: $nav-text-color-mobile;
        width: 100%;
    }

    @media screen and (min-width: 1025px) {
        color: $nav-text-color;
    }
}

.sg-nav-list,
.sg-nav-item {
    margin: 0;
    padding: 0;
}

// Item

.sg-nav-item {
    list-style: none;  
}

// Link

.sg-nav-link {
    cursor: pointer;
    display: block;
    display: flex;
        align-items: center;
    font-size: 1em;
    margin: 0;
    padding: 0 ($unit / 2) 0 $unit;
    text-transform: capitalize;

    @media screen and (min-width: 1025px) {
        &:hover {
            background: $nav-bg-color-parent-hover;
            color: $nav-text-color-parent-hover;
        }
    }

    &.multiline {
        padding-bottom: 5px;
        padding-top: 5px;
    }
}

.sg-nav-link,
.sg-options form {
    @media screen and (max-width: 1024px) {
        min-height: $unit * 1.5;
    }

    @media screen and (min-width: 1025px) {
        min-height: $unit;
    }
}

a.sg-nav-link {
    text-decoration: none;
    font-weight: 200;

    @media screen and (max-width: 1024px) {
        color: $nav-text-color-link-mobile;
    }

    @media screen and (min-width: 1025px) {
        color: $nav-text-color-link;
    }

    &:hover,
    &:focus {
        @media screen and (max-width: 1024px) {
            background: rgba($nav-bg-color-link-mobile-hover, 0.2); 
            color: $nav-text-color-link-mobile-hover;
        }

        @media screen and (min-width: 1025px) {
            background: $nav-bg-color-link-hover;
            color: $nav-text-color-link-hover;
        }
    }

    &.active {
        @media screen and (max-width: 1024px) {
            background: rgba($nav-bg-color-link-mobile-hover, 0.2); 
            color: $nav-text-color-link-mobile-hover;
        }

        @media screen and (min-width: 1025px) {
            background: $nav-bg-color-link-active;
            color: $nav-text-color-link-active;
        }
    }

    &:visited {
        @media screen and (max-width: 1024px) {
            color: $nav-text-color-link-mobile;
        }

        @media screen and (min-width: 1025px) {
            color: $nav-text-color-link;
        }

        &:hover,
        &:focus {
            @media screen and (max-width: 1024px) {
                background: rgba($nav-bg-color-link-mobile-hover, 0.2); 
                color: $nav-text-color-link-mobile-hover;
            }

            @media screen and (min-width: 1025px) {
                background: $nav-bg-color-link-hover;
                color: $nav-text-color-link-hover;
            }
        }
    }
}

// Icon

.sg-nav-link {
    i {
        font-size: 14px;
        margin-left: -($unit / 2);
    }
}

// on.click h3.sg-nav-link-lv-0 js detects if .sg-nav-text is > $unit (30px)
// if yes, the container gets .multiline and we can reset the align-items: center;
// for the icon so that it always stays on top.
// -jLaz
@media screen and (min-width: 1025px) {
    .multiline {
        i {
            align-self: flex-start;
            margin-top: 3px;
        }
    }
}

// Text

.sg-nav-text {
    line-height: 1.4;
    display: block;
}

h3.sg-nav-link {
    .sg-nav-text {
        margin-left: 4px;
    }
}


/* Lv 0 specific
---------------------------------------------------------------------------- */

.sg-nav-lv-0 {
    @media screen and (min-width: 1025px) {
        border-top: 1px solid $nav-border-color;
    }
}

.sg-nav-item-lv-0 {
    @media screen and (min-width: 1025px) {
        border-bottom: 1px solid $nav-border-color;
    }
}

.sg-nav-link-lv-0 {
    font-size: 1.25em;
    min-height: 50px;
    
    @media screen and (max-width: 767px) {
        padding-left: 33px; // even with navigation-toggle
    }
    
    @media screen and (max-width: 1024px) {
        background: rgba($nav-bg-color-parent-mobile-hover, 0.4);
        margin-bottom: 1px;
        position: relative;
        width: 100%;
        
        &:before {
            content: '';
            display: block;
            padding-top: 50%; 
            transition: padding-top 0.4s ease;
        }        

        &:hover,
        &.active {
            background: $nav-bg-color-parent-mobile-hover;
            color: $nav-text-color-parent-mobile-hover;
        }

        &.active {
            &:before {
                padding-top: 0;
                transition: padding-top 0.4s ease 0.05s;
            }
        }
    }
}


/* Lv 1 specific
---------------------------------------------------------------------------- */

.sg-nav-lv-1 {
    @media screen and (min-width: 1025px) {
        > .sg-nav-item:last-child {
            padding-bottom: $unit / 2;
        }

        > .sg-nav-item:not(:last-child) {
            .sg-nav-item:last-child {
                padding-bottom: $unit / 2;
            }
        }
    }
}

.sg-nav-link-lv-1 {
    @media screen and (max-width: 1024px) {
        background: rgba($nav-bg-color-parent-mobile-hover, 0.2);
        margin-bottom: 1px;
        position: relative;
        width: 100%;

        &:before {
            content: '';
            display: block;
            padding-top: 30%;
            transition: padding-top 0.4s ease;
        }
        
        &:hover,
        &.active {
            background: rgba($nav-bg-color-parent-mobile-hover, 0.4);
        }

        &.active {
            &:before {
                padding-top: 0;
                transition: padding-top 0.4s ease 0.05s;
            }
        }
    }
}

h3.sg-nav-link-lv-1 {
    padding: 0 ($unit / 2) 0 ($unit * 1.5);
}

a.sg-nav-link-lv-1 {
    //fine 
}


/* Lv 2 specific
---------------------------------------------------------------------------- */

h3.sg-nav-link-lv-2 {
    padding: 0 ($unit / 2) 0 ($unit * 2);
}

a.sg-nav-link-lv-2 {
    padding: 0 ($unit / 2) 0 ($unit * 1.5);
}


/* Lv 3 specific
---------------------------------------------------------------------------- */

a.sg-nav-link-lv-3 {
    padding: 0 ($unit / 2) 0 ($unit * 2);
}




/* -------------------------------------------------------------------------
 Navigation Bulk Toggle
 ---------------------------------------------------------------------------- */

.sg-options {
    form.sg-nav-link {
        padding-left: $unit;
    }

    form,
    label {
        width: 100%;
    }
}
