/* -------------------------------------------------------------------------
 Navigation Toggle
 ---------------------------------------------------------------------------- */

.sg-nav-toggle-container {
    height: 50px;
    position: fixed;
    z-index: 2100;
    width: $sg-nav-width;

}

.sg-nav-toggle {
    background: $sg-btn-bg-color;
    border: 0;
    color: $sg-btn-text-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-size: 1rem;
    height: 50px;
    padding: 0;
    position: fixed;
    text-decoration: none;
    width: 42px;
    z-index: 1100;

    svg {
        width: 14px;
    }

    use,
    path {
        fill: $sg-btn-text-color;
    }

    .sg-icon-close {
        display: none;
    }

    &:hover,
    &:focus {
        color: $sg-btn-text-color-hover;
        cursor: pointer;
        outline: 0;

        use,
        path {
            fill: $sg-btn-text-color-hover;
        }
    }

}

.nav-is-active {
    .sg-nav-toggle {
        svg {
            width: 18px;
        }

        .sg-icon-close {
            display: block;
            fill: $sg-nav-text-color;
        }

        .sg-icon-navicon {
            display: none;
        }

        .sg-icon-close {
            @media screen and (max-width: 1024px) {
                fill: $sg-nav-text-color-mobile;
            }
        }
    }
    
    .sg-nav-toggle:hover,
    .sg-nav-toggle:focus {
        .sg-icon-close {
            outline: 0;

            @media screen and (max-width: 1024px) {
                fill: $sg-btn-text-color;
            }

            @media screen and (min-width: 1025px) {
                fill: $sg-btn-text-color-hover;
            }
        }
    }

}

.nav-toggle-helper {
    background: $sg-body-bg-color;
    height: 50px;
    position: fixed;
    top: 0;
    transition: top 0.5s cubic-bezier(0.75, 0.02, 0.5, 1);
    width: 100%;
    z-index: 1;

    .nav-is-active & {
        top: -50px;
        transition: top 0.5s cubic-bezier(0.75, 0.02, 0.5, 1);
    }
}

/* -------------------------------------------------------------------------
 Navigation Container
 ---------------------------------------------------------------------------- */

.sg-navigation-container {
    padding-top: 50px;
    overflow: hidden;

    @media screen and (max-width: 1024px) {
        .js & {
            position: absolute;
            visibility: hidden;
            z-index: -1000;
        }

        .nav-is-active & {
            background: $sg-nav-bg-color-mobile;
            height: 100vh;
            position: fixed;
            top: 0;
            width: 100%;
            visibility: visible;
            z-index: 2000;
        }
    }

    @media screen and (min-width: 1025px) {
        background: $sg-nav-bg-color;
        position: fixed;
        bottom: 0;
        top: 0;
        transition: transform 0.5s cubic-bezier(0.75, 0.02, 0.5, 1);
        transform: translateX(-50%);
        width: $sg-nav-width;
        z-index: -1;

        .nav-is-active & {
            transform: translateX(0);
            z-index: 0;
        }
    }
}

.sg-navigation {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 100px;
    position: absolute;
    top: 50px;
    width: 100%;

    @media screen and (max-width: 1024px) {
        .nav-is-active & {
            color: $sg-nav-text-color-mobile;
        }
    }

    @media screen and (min-width: 1025px) {
        font-size: 14px;

    }
}

/* -------------------------------------------------------------------------
 Navigation Lists
 ---------------------------------------------------------------------------- */

/* general
---------------------------------------------------------------------------- */

nav {
    @extend %font;
}

.sg-nav-list,
.sg-nav-item {
    margin: 0;
    padding: 0;
}

// List

.sg-nav-list {
    @media screen and (max-width: 1024px) {
        color: $sg-nav-text-color-mobile;
        width: 100%;
    }

    @media screen and (min-width: 1025px) {
        color: $sg-nav-text-color;
    }
}

// Item

.sg-nav-item {
    list-style: none;
    
    @media screen and (min-width: 1025px) {
        $navPadding: 13px;
        
        // pading for lv0 links
        &.sg-nav-item-lv-0 {
            > .sg-nav-link {
                padding-left: $navPadding;
            }
        }

        &.sg-nav-item-lv-1 {
            // padding for lv1 links
            padding-left: calc(#{$navPadding} * 2 + 6px);
            
            // do some magic for vull-width links
            .sg-nav-link {
                margin-left: -100%;
                padding-left: 100%;
            }
            
            // padding for all the other level links
            .sg-nav-item {
                padding-left: calc(#{$navPadding} + 6px);
            }
        }
    }
}

// Link

.sg-nav-link {
    cursor: pointer;
    display: block;
    display: flex;
    align-items: center;
    font-size: 1em;
    margin: 0;
    padding: 0 ($sg-unit / 2) 0 0;
    text-transform: capitalize;

    @media screen and (min-width: 1025px) {
        &:hover {
            background: $sg-nav-bg-color-parent-hover;
            color: $sg-nav-text-color-parent-hover;
        }
    }

    &.multiline {
        padding-bottom: 5px;
        padding-top: 5px;
    }
}

.sg-nav-link,
.sg-options form {
    @media screen and (max-width: 1024px) {
        min-height: $sg-unit * 1.5;
    }

    @media screen and (min-width: 1025px) {
        min-height: $sg-unit;
    }
}

.sg-nav-link-child { // a tag
    text-decoration: none;
    font-weight: 200;

    @media screen and (max-width: 1024px) {
        color: $sg-nav-text-color-link-mobile;
    }

    @media screen and (min-width: 1025px) {
        color: $sg-nav-text-color-link;
    }

    &:hover,
    &:focus {
        @media screen and (max-width: 1024px) {
            background: rgba($sg-nav-bg-color-link-mobile-hover, 0.2);
            color: $sg-nav-text-color-link-mobile-hover;
        }

        @media screen and (min-width: 1025px) {
            background: $sg-nav-bg-color-link-hover;
            color: $sg-nav-text-color-link-hover;
        }
    }

    &.active {
        @media screen and (max-width: 1024px) {
            background: rgba($sg-nav-bg-color-link-mobile-hover, 0.2);
            color: $sg-nav-text-color-link-mobile-hover;
        }

        @media screen and (min-width: 1025px) {
            background: $sg-nav-bg-color-link-active;
            color: $sg-nav-text-color-link-active;
        }
    }

    &:visited {
        @media screen and (max-width: 1024px) {
            color: $sg-nav-text-color-link-mobile;
        }

        @media screen and (min-width: 1025px) {
            color: $sg-nav-text-color-link;
        }

        &:hover,
        &:focus {
            @media screen and (max-width: 1024px) {
                background: rgba($sg-nav-bg-color-link-mobile-hover, 0.2);
                color: $sg-nav-text-color-link-mobile-hover;
            }

            @media screen and (min-width: 1025px) {
                background: $sg-nav-bg-color-link-hover;
                color: $sg-nav-text-color-link-hover;
            }
        }
    }
}

// Icon

.sg-nav-link {
    svg {
        height: 14px;
        //margin-left: -16px;
        width: 15px;
    }

    .sg-icon-minus {
        display: none;
    }

    &.active {
        .sg-icon-minus {
            display: block;
        }

        .sg-icon-plus {
            display: none;
        }
    }

    @media screen and (max-width: 1024px) {
        padding-left: 13px;
    }
}

// on.click h3.sg-nav-link-lv-0 js detects if .sg-nav-text is > $sg-unit (30px)
// if yes, the container gets .multiline and we can reset the align-items: center;
// for the icon so that it always stays on top.
// -jLaz
@media screen and (min-width: 1025px) {
    .multiline {
        svg {
            align-self: flex-start;
            margin-top: 3px;
        }
    }
}

// Text

.sg-nav-text {
    line-height: 1.4;
    display: block;
}


/* Lv 0 specific
---------------------------------------------------------------------------- */

.sg-nav-lv-0 {
    @media screen and (max-width: 1024px) {
        &:last-child {
            margin-bottom: 50px;
        }
    }

    @media screen and (min-width: 1025px) {
        border-top: 1px solid $sg-nav-border-color;
    }
}

.sg-nav-item-lv-0 {
    @media screen and (min-width: 1025px) {
        border-bottom: 1px solid $sg-nav-border-color;
    }
}

.sg-nav-link-lv-0 {
    font-size: 1.25em;
    min-height: 50px;

    @media screen and (max-width: 767px) {
        padding-left: 13px; // even with navigation-toggle
    }

    @media screen and (max-width: 1024px) {
        background: rgba($sg-nav-bg-color-parent-mobile-hover, 0.4);
        margin-bottom: 1px;
        position: relative;
        width: 100%;

        &:before {
            content: '';
            display: block;
            padding-top: 50%;
            transition: padding-top 0.4s ease;
        }

        &:hover,
        &.active {
            background: $sg-nav-bg-color-parent-mobile-hover;
            color: $sg-nav-text-color-parent-mobile-hover;
        }

        &.active {
            &:before {
                padding-top: 0;
                transition: padding-top 0.4s ease 0.05s;
            }
        }
    }
}

/* Lv 1 specific
---------------------------------------------------------------------------- */

@media screen and (max-width: 1024px) {
    .sg-nav-lv-1 .sg-nav-link {
        margin-bottom: 1px;
        padding-left: 13px; // even with navigation-toggle
        position: relative;
        width: 100%;
        
        &.sg-nav-link-parent {
            background: rgba($sg-nav-bg-color-parent-mobile-hover, 0.2);

            &.active {
                &:before {
                    padding-top: 0;
                    transition: padding-top 0.4s ease 0.05s;
                }
            }
            
            &:before {
                content: '';
                display: block;
                padding-top: 30%;
                transition: padding-top 0.4s ease;
            }
            
            &:hover,
            &.active {
                background: rgba($sg-nav-bg-color-parent-mobile-hover, 0.6);
            }
        }
    }
}

/* Lv 2 specific
---------------------------------------------------------------------------- */

@media screen and (max-width: 1024px) {
    .sg-nav-item-lv-2 {
        padding-left: 19px;
    }

    .sg-nav-lv-2 .sg-nav-link {
        &.sg-nav-link-parent {
            background: rgba($sg-nav-bg-color-parent-mobile-hover, 0.2);
            
            &:hover,
            &.active {
                background: rgba($sg-nav-bg-color-parent-mobile-hover, 0.4);
            }
        }
    }
}


/* Nav item spacing magic
---------------------------------------------------------------------------- */

.sg-nav-link-parent .sg-nav-text {
    margin-left: 3px;
}

@media screen and (min-width: 1025px) {
    // margin-bottom for last li with children in list
    .sg-nav-lv-1 .sg-nav-item.sg-nav-item-parent:last-child {
        //background: rgba(yellow, 0.2);
        margin-bottom: $sg-unit / 2;
    }

    // margin-bottom for every last link in li
    .sg-nav-item:not(.sg-nav-item-parent):last-child .sg-nav-link-child:last-child {
        //background: purple;
        margin-bottom: $sg-unit / 2;
    }

    // margin-bottom for last links in li's without child ul's
    .sg-nav-item:not(.sg-nav-item-parent):only-child:first-child .sg-nav-link-child:last-child {
        //background: green;
        margin-bottom: $sg-unit / 2;
    }

    .sg-nav-item:not(.sg-nav-item-parent) + .sg-nav-item-parent {
        margin-top: $sg-unit / 2
    }
}



/* -------------------------------------------------------------------------
 Navigation Bulk Toggle options
 ---------------------------------------------------------------------------- */

.sg-options {
    .sg-nav-lv-1 {
        .sg-nav-item:last-child {
            padding-bottom: $sg-unit / 2;
        }
    }

    .sg-nav-link-lv-0 {
        &:before {
            padding-top: 25%;
        }

        &.active:before {
            padding-top: 0;
        }
    }

    form {
        padding-left: $sg-unit;
    }

    form,
    label {
        width: 100%;
    }

    label {
        svg {
            margin-left: 0;
        }
    }
}
