/* -------------------------------------------------------------------------
 Fonts
 ---------------------------------------------------------------------------- */

%font {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* SG Font 1 */
.sg-font1,
.sg-logo,
.sg-about p,
.sg-color-value {
    @extend %font;
    font-weight: 400;
}

/* SG Font 2 */
.sg-font2,
.sg-logo em,
.sg-nav-toggle,
.sg-h1,
.sg-h2,
.sg-h3,
.sg-h4,
.sg-color-name,
.sg-font-list dt {
    @extend %font;
    font-weight: 500;
}


/* -------------------------------------------------------------------------
 Typography
 ---------------------------------------------------------------------------- */

.sg-h1,
.sg-h2 {
    margin-bottom: 1em;
    margin-top: 0;
}

.sg-h1 {
    font-size: 2em;
    padding-bottom: 0.2em;
    text-transform: capitalize;
}

.sg-h2 {
    font-size: 1.75em;
    margin-bottom: 0.75em;
    padding-bottom: 0.2em;
    text-transform: capitalize;
}

.sg-h3 {
    font-size: 1.25em;
}





/* Fonts List
---------------------------------------------------------------------------- */

.sg-font-list,
.sg-font-list li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sg-font-list {
    font-size: 1.1em;
}

.sg-font-list dt {
    display: block;
    padding-bottom: 0.25em;
}

.sg-font-list dd {
    border-bottom: 1px solid #ddd;
    display: block;
    margin-bottom: 0.75em;
    margin-left: 0;
    padding-bottom: 0.75em;
}

@media only screen and (min-width: 760px) {
    .sg-font-list dt {
        float: left;
        padding-right: 0.25em;
    }
}
