/* Variables */

$sg-white:             #fefefe;
$sg-light-grey:        #eee;
$sg-mid-grey:          #e9e9e9;
$sg-grey:              #ddd;
$sg-dark-grey:         #ccc;
$sg-darker-grey:       #999;
$sg-darkest-grey:      #444;
$sg-black:             #333; 

$green:                #48c876;


$sg-primary-color:             $green;
$sg-secondary-color:           $sg-black;

$sg-body-bg-color:             $sg-white;
$sg-text-color:                $sg-black;
$sg-text-color-inverted:       $sg-white;

$sg-content-border-color:      $sg-dark-grey;

$sg-nav-toggle-bg-color:           $sg-body-bg-color;

$sg-nav-bg-color:                  $sg-secondary-color;
$sg-nav-bg-color-mobile:           $sg-primary-color;

$sg-nav-text-color:                $sg-text-color-inverted;
$sg-nav-text-color-mobile:         $sg-text-color-inverted;

$sg-nav-border-color:              $sg-darkest-grey;

$sg-nav-bg-color-parent:                   transparent;
$sg-nav-bg-color-parent-hover:             $sg-darkest-grey;
$sg-nav-bg-color-parent-mobile:            transparent;
$sg-nav-bg-color-parent-mobile-hover:      $sg-light-grey;

$sg-nav-text-color-parent:                 $sg-nav-text-color;
$sg-nav-text-color-parent-hover:           $sg-primary-color;
$sg-nav-text-color-parent-mobile:          $sg-nav-text-color-mobile;
$sg-nav-text-color-parent-mobile-hover:    $sg-primary-color;

$sg-nav-bg-color-link-hover:               $sg-nav-bg-color-parent-hover;
$sg-nav-bg-color-link-active:              $sg-primary-color;
$sg-nav-bg-color-link-mobile-hover:        $sg-nav-bg-color-mobile;

$sg-nav-text-color-link:                   $sg-nav-text-color;
$sg-nav-text-color-link-hover:             $sg-nav-text-color-parent-hover;
$sg-nav-text-color-link-active:            $sg-nav-text-color;
$sg-nav-text-color-link-mobile:            $sg-nav-text-color-mobile;
$sg-nav-text-color-link-mobile-hover:      $sg-nav-text-color-mobile;


$sg-btn-bg-color:              transparent;
$sg-btn-bg-color-hover:        transparent;
$sg-btn-text-color:            $sg-text-color;
$sg-btn-text-color-inverted:   $sg-text-color-inverted;
$sg-btn-text-color-hover:      $sg-primary-color;


$sg-unit:              30px;
$sg-nav-width:         300px;
