<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {#<!-- https://github.com/sindresorhus/github-markdown-css -->#}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.4.1/github-markdown.min.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
        {#<!-- Style Guide Styles -->#}
        <link rel="stylesheet" href="{{ distPath }}/css/main.css">
        <link rel="stylesheet" href="{{ webPath }}/css/sg-custom.css">
        <!--[if lt IE 9]><link rel="stylesheet" href="{{ webPath }}/css/sg-style-old-ie.css"><![endif]-->

        {#<!-- prism Syntax Highlighting Styles -->#}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/themes/prism.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/themes/prism.min.css">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

        {% for script in headerScripts %}
            <script type="text/javascript" src="{{ script }}"></script>
        {% endfor %}
    </head>
    <body class="styleguide-full">
        <div class="sg-nav-toggle-container">
            <button class="sg-nav-toggle" title="toggle navigation">
                <i class="fa fa-navicon" aria-hidden="true"></i>
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>

        <div class="sg-navigation-container">            
            <nav class="sg-navigation">
                <ul class="sg-options sg-nav-list sg-nav-lv-0">
                    <li class="sg-nav-item">
                        <h3 class="sg-nav-link sg-nav-link-lv-0 sg-h3">
                            <i class="fa fa-plus" aria-hidden="true"></i> 
                            <span class="sg-nav-text">View Options</span>
                        </h3>
                        <ul class="sg-nav-group sg-nav-list sg-nav-lv-1">
                            <li class="sg-nav-item " style="display: none;">
                                <form class="sg-nav-link sg-nav-link-lv-2">
                                    <input id="sg-toggle-all-doc" type="checkbox" id="toggleAllDoc" />
                                    <label for="sg-toggle-all-doc" class="sg-nav-text">Toggle all Documentation</label>
                                </form>
                            </li>
                            <li class="sg-nav-item" style="display: none;">
                                <form class="sg-nav-link sg-nav-link-lv-2">
                                    <input id="sg-toggle-all-source" type="checkbox" id="toggleAllSource" />
                                    <label for="sg-toggle-all-source" class="sg-nav-text">Toggle all Source Code</label>
                                </form>
                            </li>
                            <li class="sg-nav-item" style="display: none;">
                                <form class="sg-nav-link sg-nav-link-lv-2">
                                    <input id="sg-toggle-all-source" type="checkbox" id="toggleAllSource" disabled="disabled" />
                                    <label for="sg-toggle-all-source" class="sg-nav-text">Disabled Item</label>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>

                {% import "navigation.njk" as nav %}
                {{ nav.navigation(navigation) }}
            </nav>
        </div>

        <main class="sg-main">

            {% import "single.njk" as singleView %}
            {% for element in elements %}
                {{ singleView.render( element ) }}
            {% endfor %}

        </main>

        <!--[if gt IE 8]><!-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-markup.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-css.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-clike.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-javascript.min.js"></script>
        <!--<![endif]-->

        <script>

            $(document).ready(function () {
                // highlight active section in navi
                $(".sg-section").mouseenter(function () {
                    var id = $(this).find('.sg-section-anchor').attr('id');
                    $('a').removeClass('active');
                    $("[href=#" + id + "]").addClass('active');
                });

                // collapse navi
                $('.sg-navigation .sg-nav-group h3.sg-nav-link').siblings().children().toggle();
            });

            // add folding and switching icons to groups
            // this opens all navigation levels at once
            /*
            $('.sg-nav-group h3').click(function () {
                $(this).siblings().children().toggle();
                $(this).children().toggleClass('fa-minus').toggleClass('fa-plus');
                $(this).siblings('h3 i').toggleClass('fa-minus').toggleClass('fa-plus');
            });
            */

            // some navigation magic
            // -jLaz

            $(document).on('click', '.sg-nav-list h3', function() {

                // this opens just the next level
                $(this).parent().find('.sg-nav-item').toggle();
                $(this).children('i').toggleClass('fa-plus fa-minus');  

                // adding an active class to the item
                $(this).toggleClass('active');

                // adding an extra class b/c the icon toggle is buggy when it comes to multiple levels
                if( $(this).hasClass('sg-nav-link-lv-0') ) {
                    $(this).addClass('sg-nav-opened');
                }

                // detect if nav-text has more than one line
                var $navText = $('.sg-nav-text');
                $navText.each(function(){
                    if ($(this).height() > 30) {
                        $(this).parent().addClass('multiline');
                    }
                });
            });

            // extra class in action: using this to find all fa-mius Icons
            // to resolve the bug where lv1 items were still on fa-minus even when closed. 
            // b/c of that, the next toggle gave them fa-plus but they were then open 
            // so it was the opposite way around.
            // also remove all active classes.
            // -jLaz
            $(document).on('click', '.sg-nav-opened', function() {

                $(this).parent().find('.fa-minus').removeClass('fa-minus').addClass('fa-plus');
                $(this).parent().find('.active').removeClass('active');
                $(this).removeClass('sg-nav-opened');
            });

            // Documentation Section Toggle
            // with jQuery b/c I'm too much of a noob for vanilla js 
            // -jLaz

            $('.sg-btn-documentation').on('click', function() {
                $(this).closest('.sg-section').find('.sg-doc').toggleClass('sg-doc-active');
            }); 

        </script>        

        {% for script in footerScripts %}
            <script type="text/javascript" src="{{ script }}"></script>
        {% endfor %}
    </body>
</html>
