
{% macro navigation(tree, level = 0) %}

<ul class="sg-nav-group sg-nav-list sg-nav-lv-{{ level }}">
    {% for item in tree %}
    <li class="sg-nav-item sg-nav-item-lv-{{ level }} js-sg-nav-item{% if item.children %} sg-nav-level-parent{% endif %}">
        {{ navigationItem(item, level) }}
    </li>
    {% endfor %}
</ul>
{% endmacro %}

{% macro navigationItem(item, level) %}
    {% if item.children %}
        <h3 class="sg-nav-link sg-nav-link-lv-{{ level }} sg-nav-link-parent js-sg-nav-link-parent sg-h3">
            {# <i class="fa fa-plus" aria-hidden="true"></i> #}
            <svg viewbox="0 0 32 32" xmlns:xlink="http://www.w3.org/1999/xlink">
                <use class="sg-icon sg-icon-plus" xlink:href="#sg-icon-plus"></use>
                <use class="sg-icon sg-icon-minus" xlink:href="#sg-icon-minus"></use>
            </svg>
            <span class="sg-nav-text">{{ item.name }}</span>
        </h3>
        {{ navigation(item.children, level + 1)}}
    {% else %}
        <a class="sg-nav-link sg-nav-link-lv-{{ level }} sg-nav-link-child js-sg-nav-link-child" href="#{{ item.hash }}">
            <span class="sg-nav-text js-sg-nav-text">{{ item.hash}}</span>
        </a>
    {% endif %}

{% endmacro %}
