<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# https://github.com/sindresorhus/github-markdown-css #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.4.1/github-markdown.min.css">

        {# Style Guide Styles #}
        <link rel="stylesheet" href="{{ webPath }}/css/sg-custom.css">
        <!--[if lt IE 9]><link rel="stylesheet" href="{{ webPath }}/css/sg-style-old-ie.css"><![endif]-->
        
        {# patterns & modules styles #}
        <link rel="stylesheet" href="{{ distPath }}/css/main.css">

        {# prism Syntax Highlighting Styles #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/themes/prism.min.css">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

        {% for script in headerScripts %}
            <script type="text/javascript" src="{{ script }}"></script>
        {% endfor %}
    </head>
    <body class="styleguide-single">
        
        {% include "svgmap.njk" %}

        <main class="sg-main">
            {% import "single.njk" as singleView %}
            {{ singleView.render( element, iframe=false ) }}
        </main>
        
        {# if we host this ourselves, we can reduce this to one request b/c we would only need one file #}
        <!--[if gt IE 8]><!-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-markup.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-css.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-clike.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-javascript.min.js"></script>
        <!--<![endif]-->

        <script type="text/javascript" src="{{ distPath }}/styleguide/js/sg-custom.js" ></script>

        {% for script in footerScripts %}
            <script type="text/javascript" src="{{ script }}"></script>
        {% endfor %}
    </body>
</html>
