{% macro render( element, iframe=true, webPath='' ) -%}
    <article class="sg-section js-sg-section bgcolor-1">

        <header class="sg-section-header js-sg-section-header" data-sticky-class="fixed">
            <div id="{{ element.name }}" class="sg-section-anchor js-sg-section-anchor transform-this"></div>
            
            <div class="sg-header-group transform-this">
                <div class="sg-title-container">
                    <h2 class="sg-section-title">{{ element.name }}</h2>
                </div>

                <div class="sg-button-container">
                    <button type="button" class="sg-btn sg-btn-back" title="back to styleguide" onClick="history.go(-1);return true;">                       
                        <svg viewbox="0 0 32 32" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <use class="sg-icon sg-icon-arrow-left" xlink:href="#sg-icon-arrow-left"></use>
                        </svg>
                    </button>

                    <a class="sg-btn sg-btn-expand" href="{{element.path}}" title="single view">
                        <svg viewbox="0 0 32 32" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <use class="sg-icon" xlink:href="#sg-icon-enlarge"></use>
                        </svg>
                    </a>
                    
                    <button type="button" class="sg-btn sg-btn-bgcolor js-sg-btn-bgcolor" title="change section bg color">
                        <svg viewbox="0 0 32 32" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <use class="sg-icon sg-icon-droplet" xlink:href="#sg-icon-droplet"></use>
                        </svg>
                    </button>
                    
                    <button type="button" class="sg-btn sg-btn-documentation js-sg-btn-documentation" title="view documentation">
                        <svg viewbox="0 0 32 32" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <use class="sg-icon sg-icon-comment" xlink:href="#sg-icon-comment"></use>
                            <use class="sg-icon sg-icon-close" xlink:href="#sg-icon-close"></use>
                        </svg>
                    </button>

                    <button type="button" class="sg-btn sg-btn-source js-sg-btn-source" title="view source">
                        <svg viewbox="0 0 32 32" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <use class="sg-icon sg-icon-code" xlink:href="#sg-icon-code"></use>
                            <use class="sg-icon sg-icon-close" xlink:href="#sg-icon-close"></use>
                        </svg>
                    </button>

                    <a class="sg-btn sg-btn-top" href="#top" title="back to top">
                        <svg viewbox="0 0 32 32" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <use class="sg-icon sg-icon-arrow-up" xlink:href="#sg-icon-arrow-up"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </header>

        <div class="sg-documentation-container sg-toggle-container js-sg-documentation-container transform-this">
            <svg viewbox="0 0 32 32" xmlns:xlink="http://www.w3.org/1999/xlink">
                <use class="sg-icon sg-icon-comment" xlink:href="#sg-icon-comment"></use>
            </svg>

            <div class="sg-documentation">
                <div class="markdown-body">
                    {{element.doc | safe}}
                </div>
            </div>
        </div>
        
        <div class="sg-source-container sg-toggle-container js-sg-source-container transform-this">
            <svg viewbox="0 0 32 32" xmlns:xlink="http://www.w3.org/1999/xlink">
                <use class="sg-icon sg-icon-code" xlink:href="#sg-icon-code"></use>
            </svg>

            <div class="sg-source">
<pre class="line-numbers">
<code class="language-markup">{{ element.content | trim }}</code>
</pre>
            </div>
        </div>

        <div class="sg-preview transform-this">            
            
            {% if iframe %}
                <iframe src="{{ webPath }}{{ element.iframePath }}" frameborder="0" title="iframe for {{ element.name }}"></iframe>
            {% else %}
                {{ element.content | safe }}
            {% endif %}

        </div>

    </article>
{%- endmacro %}
