<ul class="sg-options sg-nav-list sg-nav-lv-0">
    <li class="sg-nav-item sg-nav-item-lv-0 js-sg-nav-item js-sg-nav-level-parent">
        <h3 class="sg-nav-link sg-nav-link-parent js-sg-nav-link-parent sg-nav-link-lv-0 sg-h3">
            <svg viewbox="0 0 32 32" xmlns:xlink="http://www.w3.org/1999/xlink">
                <use class="sg-icon sg-icon-plus" xlink:href="#sg-icon-plus"></use>
                <use class="sg-icon sg-icon-minus" xlink:href="#sg-icon-minus"></use>
            </svg>
            <span class="sg-nav-text js-sg-nav-text">View Options</span>
        </h3>
        <ul class="sg-nav-group sg-nav-list sg-nav-lv-1">
            <li class="sg-nav-item js-sg-nav-item">
                <form class="sg-nav-link sg-nav-link-lv-1">
                    <input id="sg-toggle-all-doc" type="checkbox" />
                    <label for="sg-toggle-all-doc" class="sg-nav-text js-sg-nav-text">
                        <svg viewbox="0 0 32 32" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <use class="sg-icon sg-check" xlink:href="#sg-icon-check"></use>
                        </svg>
                        Toggle all Documentation
                    </label>
                </form>
            </li>
            <li class="sg-nav-item js-sg-nav-item">
                <form class="sg-nav-link sg-nav-link-lv-1">
                    <input id="sg-toggle-all-source" type="checkbox" />
                    <label for="sg-toggle-all-source" class="sg-nav-text js-sg-nav-text">
                        <svg viewbox="0 0 32 32" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <use class="sg-icon sg-check" xlink:href="#sg-icon-check"></use>
                        </svg>
                        Toggle all Source Code
                    </label>
                </form>
            </li>
            <li class="sg-nav-item js-sg-nav-item responsive-toggle-item">
                <h4 class="sg-responsive-toggle-headline">Responsive views</h4>
                <div class="sg-responsive-toggle-container">

                    <div class="sg-button-container sg-mobile-devices">
                        <button class="sg-btn-responsive-toggle sg-btn-device-mobile-portrait js-sg-btn-responsive-toggle" data-width="320px">
                            <svg viewbox="0 0 32 32" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <use class="sg-icon sg-device-mobile-portrait" xlink:href="#sg-device-mobile-portrait"></use>
                            </svg>
                            <span class="sg-btn-text sg-sr-only">Mobile Portrait View</span>
                        </button>
                        <button class="sg-btn-responsive-toggle sg-btn-device-mobile-landscape js-sg-btn-responsive-toggle" data-width="480px">
                            <svg viewbox="0 0 32 32" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <use class="sg-icon sg-device-mobile-landscape" xlink:href="#sg-device-mobile-landscape"></use>
                            </svg>
                            <span class="sg-btn-text sg-sr-only">Mobile Landscape View</span>
                        </button>
                        
                        <button class="sg-btn-responsive-toggle sg-btn-device-tablet-portrait js-sg-btn-responsive-toggle" data-width="768px">
                            <svg viewbox="0 0 32 32" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <use class="sg-icon sg-device-tablet-portrait" xlink:href="#sg-device-tablet-portrait"></use>
                            </svg>
                            <span class="sg-btn-text sg-sr-only">Tablet Portrait View</span>
                        </button>
                        <button class="sg-btn-responsive-toggle sg-btn-device-tablet-landscape js-sg-btn-responsive-toggle" data-width="1024px">
                            <svg viewbox="0 0 32 32" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <use class="sg-icon sg-device-tablet-landscape" xlink:href="#sg-device-tablet-landscape"></use>
                            </svg>
                            <span class="sg-btn-text sg-sr-only">Tablet Landscape View</span>
                        </button>
                    </div>
                    
                    <div class="sg-button-container sg-desktop-devices">
                        <button class="sg-btn-responsive-toggle sg-btn-device-laptop js-sg-btn-responsive-toggle" data-width="1200px">
                            <svg viewbox="0 0 32 32" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <use class="sg-icon sg-device-laptop" xlink:href="#sg-device-laptop"></use>
                            </svg>
                            <span class="sg-btn-text sg-sr-only">Laptop View</span>
                        </button>
                        <button class="sg-btn-responsive-toggle sg-btn-device-desktop js-sg-btn-responsive-toggle" data-width="100%">
                            <svg viewbox="0 0 32 32" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <use class="sg-icon sg-device-desktop" xlink:href="#sg-device-desktop"></use>
                            </svg>
                            <span class="sg-btn-text sg-sr-only">Desktop View</span>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </li>
</ul>