// Variables
@import 'variables';

/* -------------------------------------------------------------------------

 Style Guide Boilerplate
 Repo: https://github.com/bjankord/Style-Guide-Boilerplate
 Author: Brett Jankord
 License: MIT

 ---------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------
 Utility Classes
 ---------------------------------------------------------------------------- */

/* http:/paulirish.com/2012/box-sizing-border-box-ftw/ */
*,
*:before,
*:after {
    box-sizing: border-box;
}

.sg-container:before,
.sg-container:after,
.sg-clearfix:before,
.sg-clearfix:after,
.sg-section:before,
.sg-section:after,
.sg-markup-controls:before,
.sg-markup-controls:after {
    content: '';
    display: table;
    line-height: 0;
}

.sg-container:after,
.sg-clearfix:after,
.sg-section:after,
.sg-markup-controls:after {
    clear: both;
}

.sg-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.sg-visually-hidden-focusable:active,
.sg-visually-hidden-focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

@mixin clearfix() {
    &:before,
    &:after {
        content: ' '; /* 1 */
        display: table; /* 2 */
    }

    &:after {
        clear: both;
    }
}


/* -------------------------------------------------------------------------
 Fonts
 ---------------------------------------------------------------------------- */

%font {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* SG Font 1 */
.sg-font1,
.sg-logo,
.sg-about p,
.sg-color-value {
    @extend %font;
    font-weight: 400;
}

/* SG Font 2 */
.sg-font2,
.sg-logo em,
.sg-nav-toggle,
.sg-h1,
.sg-h2,
.sg-h3,
.sg-h4,
.sg-color-name,
.sg-font-list dt {
    @extend %font;
    font-weight: 500;
}


/* Typography
---------------------------------------------------------------------------- */
.sg-h1,
.sg-h2 {
    margin-bottom: 1em;
    margin-top: 0;
}

.sg-h1 {
    font-size: 2em;
    padding-bottom: 0.2em;
    text-transform: capitalize;
}

.sg-h2 {
    font-size: 1.75em;
    margin-bottom: 0.75em;
    padding-bottom: 0.2em;
    text-transform: capitalize;
}

.sg-h3 {
    font-size: 1.25em;
}

.sg-about, 
.markdown-body {
    p {
        font-size: 1.1em;
        max-width: 800px;
        margin: auto;
    }
}


/* -------------------------------------------------------------------------
 Base Layout
 ---------------------------------------------------------------------------- */

/* Content
---------------------------------------------------------------------------- */
html {
    overflow-x: hidden; // needed for offcanvas navigatio pushing the content

    &.nav-is-active {
        @media screen and (max-width: 1024px) {
            overflow: hidden;
        }
    }
}

body {
    @extend %font;
    background: $body-bg-color;
    margin: 0;
}

.sg-header {
    background: #000;
    color: #fff;
    padding-bottom: 0.75rem;
    padding-bottom: 12px; /* For older browsers */
    padding-top: 0.75rem;
    padding-top: 12px; /* For older browsers */
    margin-left: 20%;
}

.sg-main {
    background: $body-bg-color;
    margin-bottom: $unit * 2;
    overflow-x: hidden; // prevent module preview content from thinking outside of the box and overlap the nav
    transition: transform 0.5s cubic-bezier(0.75, 0.02, 0.5, 1),
                -webkit-transform 0.5s cubic-bezier(0.75, 0.02, 0.5, 1)
}

@media screen and (min-width: 1025px) {
    .nav-is-active {
        .styleguide-full {
            .sg-main {
                float: right;
                transform: translate3d(300px, 0, 0);
            }
        }
    }

    .styleguide-full {
        .sg-main {
            float: right;
            width: 100%;
        }
    }
}


/* -------------------------------------------------------------------------
 Navigation
 ---------------------------------------------------------------------------- */

/* Navigtion Toggle
---------------------------------------------------------------------------- */

.sg-nav-toggle-container {
    position: fixed;
    z-index: 2100;
    width: 100%;
   
    @media screen and (max-width: 1024px) {
        .nav-is-active & {
            background: $nav-bg-color-mobile;
        }
    }

    @media screen and (min-width: 1025px) {
        .nav-is-active & {
            background: transparent;
        }
    }
}

.sg-nav-toggle {
    background: $btn-bg-color;
    border: 0;
    color: $btn-text-color;
    display: flex;
        align-items: center;
        justify-content: center;
    font-size: 16px;
    font-size: 1rem;
    height: 50px;
    padding: 0;
    position: relative;
    text-decoration: none;
    width: 47px;
    z-index: 1100;

    &:hover,
    &:focus {
        color: $btn-text-color-hover;
        cursor: pointer;
        outline: 0;
    }

    i {
        position: absolute;
    }
    

    // some enhaced stuff b/c those icons are so different
    // https://github.com/TrySound/postcss-inline-svg
    // needs grunt styleguide --force

    i,
    i:before {
        height: 14px;
        width: 14px;
    }

    i {
        &:before {
            background-repeat: no-repeat;
            background-size: contain;
            content: '';
            display: block;
        }
    }

    // menu icon
    .fa-navicon:before {
        background-image: svg-load('../img/font-awesome-svg/navicon.svg', fill=$btn-text-color);
    }

    &:hover .fa-navicon:before {
        background-image: svg-load('../img/font-awesome-svg/navicon.svg', fill=$primary-color);
    }

    // close icon
    .fa-times:before {
        background-image: svg-load('../img/font-awesome-svg/times.svg', fill=$btn-text-color-inverted);
    }

    &:hover .fa-times:before {
        background-image: svg-load('../img/font-awesome-svg/times.svg', fill=$primary-color);
    }
    
    .fa-times,
    .fa-times:before {
        height: 20px;
        width: 19px;
    }

    .fa-times {
        display: none;
    }

    .fa-navicon {
        display: block;
    }
}

.nav-is-active {
    .sg-nav-toggle {
        @media screen and (max-width: 1024px) {            
            &:hover,
            &:focus {
                outline: 0;
            }

            // close icon
            .fa-times:before {
                background-image: svg-load('../img/font-awesome-svg/times.svg', fill=$nav-text-color-mobile);
            }

            &:hover .fa-times:before {
                background-image: svg-load('../img/font-awesome-svg/times.svg', fill=$nav-text-color);
            }
        }
        
        .fa-times {
            display: block;
        }

        .fa-navicon {
            display: none;
        }
    }
}



/* Navigtion Container
-------------------------------------------------------------------- */
.sg-sidebar {
    @media screen and (max-width: 1024px) {
        .js & {
            padding-top: 50px;
            position: absolute;
            visibility: hidden;
            z-index: -1000;
        }

        .nav-is-active & {
            background: $nav-bg-color-mobile;
            color: $nav-text-color-mobile;
            height: 100vh;
            overflow-y: auto;
            position: fixed;
                top: 0;
            width: 100%;
            visibility: visible;
            z-index: 2000;
        }
    }

    @media screen and (min-width: 1025px) {
        background: $nav-bg-color;
        float: left;
        font-size: 14px;
        overflow-y: scroll;
        padding: 50px 0;
        position: fixed;
            bottom: 0;
            top: 0;
        transition: transform 0.5s cubic-bezier(0.75, 0.02, 0.5, 1),
                -webkit-transform 0.5s cubic-bezier(0.75, 0.02, 0.5, 1);
        transform: translate3d(-50%, 0, 0);
        width: $nav-width; 
        z-index: -1;

        .nav-is-active & {
            transform: translate3d(0, 0, 0);
        }
    }
}


/* Navigtion LV 0
---------------------------------------------------------------------------- */

.sg-nav-list {
    @media screen and (max-width: 1024px) {
        color: $nav-text-color-mobile;
        width: 100%;
    }

    @media screen and (min-width: 1025px) {
        color: $nav-text-color;
    }
}

.sg-nav-lv-0 {
    @media screen and (min-width: 1025px) {
        background: $nav-bg-color;
        border-top: 1px solid $nav-border-color;
    }
}

.sg-nav-list,
.sg-nav-item {
    margin: 0;
    padding: 0;
}


/* Navigtion LV 1
---------------------------------------------------------------------------- */

.sg-nav-item {
    list-style: none;  
}

.sg-nav-lv-0 {
    > .sg-nav-item {
        @media screen and (min-width: 1025px) {
            border-bottom: 1px solid $nav-border-color;
        }
    }   
}

.sg-nav-lv-1 {
    @media screen and (min-width: 1025px) {
        > .sg-nav-item:last-child {
            padding-bottom: $unit / 2;
        }

        > .sg-nav-item:not(:last-child) {
            .sg-nav-item:last-child {
                padding-bottom: $unit / 2;
            }
        }
    }
}


/* Navigtion Item Link & Text
---------------------------------------------------------------------------- */

.sg-nav-link {
    cursor: pointer;
    display: block;
    display: flex;
        align-items: center;
    font-size: 1em;
    margin: 0;
    padding: 0 ($unit / 2) 0 $unit;
    text-transform: capitalize;

    @media screen and (min-width: 1025px) {
        &:hover {
            background: $nav-bg-color-parent-hover;
            color: $nav-text-color-parent-hover;
        }
    }

    &.multiline {
        padding-bottom: 5px;
        padding-top: 5px;
    }
}

.sg-nav-link,
.sg-options form {
    @media screen and (max-width: 1024px) {
        min-height: $unit * 1.5;
    }

    @media screen and (min-width: 1025px) {
        min-height: $unit;
    }
}

a.sg-nav-link {
    text-decoration: none;
    font-weight: 200;

    @media screen and (max-width: 1024px) {
        color: $nav-text-color-link-mobile;
    }

    @media screen and (min-width: 1025px) {
        color: $nav-text-color-link;
    }

    &:hover,
    &:focus {
        @media screen and (max-width: 1024px) {
            background: rgba($nav-bg-color-link-mobile-hover, 0.2); 
            color: $nav-text-color-link-mobile-hover;
        }

        @media screen and (min-width: 1025px) {
            background: $nav-bg-color-link-hover;
            color: $nav-text-color-link-hover;
        }
    }

    &.active {
        @media screen and (max-width: 1024px) {
            background: rgba($nav-bg-color-link-mobile-hover, 0.2); 
            color: $nav-text-color-link-mobile-hover;
        }

        @media screen and (min-width: 1025px) {
            background: $nav-bg-color-link-active;
            color: $nav-text-color-link-active;
        }
    }

    &:visited {
        @media screen and (max-width: 1024px) {
            color: $nav-text-color-link-mobile;
        }

        @media screen and (min-width: 1025px) {
            color: $nav-text-color-link;
        }

        &:hover,
        &:focus {
            @media screen and (max-width: 1024px) {
                background: rgba($nav-bg-color-link-mobile-hover, 0.2); 
                color: $nav-text-color-link-mobile-hover;
            }

            @media screen and (min-width: 1025px) {
                background: $nav-bg-color-link-hover;
                color: $nav-text-color-link-hover;
            }
        }
    }
}

.sg-nav-link-lv-0 {
    font-size: 1.25em;
    min-height: 50px;
    
    @media screen and (max-width: 767px) {
        padding-left: 33px; // even with navigation-toggle
    }
    
    @media screen and (max-width: 1024px) {
        background: rgba($nav-bg-color-parent-mobile-hover, 0.4);
        margin-bottom: 1px;
        position: relative;
        width: 100%;
        
        &:before {
            content: '';
            display: block;
            padding-top: 50%; 
            transition: padding-top 0.4s ease;
        }        

        &:hover,
        &.active {
            background: $nav-bg-color-parent-mobile-hover;
            color: $nav-text-color-parent-mobile-hover;
        }

        &.active {
            &:before {
                padding-top: 0;
                transition: padding-top 0.4s ease 0.05s;
            }
        }
    }
}

.sg-nav-link-lv-1 {
    @media screen and (max-width: 1024px) {
        background: rgba($nav-bg-color-parent-mobile-hover, 0.2);
        margin-bottom: 1px;
        position: relative;
        width: 100%;

        &:before {
            content: '';
            display: block;
            padding-top: 30%;
            transition: padding-top 0.4s ease;
        }
        
        &:hover,
        &.active {
            background: rgba($nav-bg-color-parent-mobile-hover, 0.4);
        }

        &.active {
            &:before {
                padding-top: 0;
                transition: padding-top 0.4s ease 0.05s;
            }
        }
    }
}

h3.sg-nav-link-lv-1 {
    padding: 0 ($unit / 2) 0 ($unit * 1.5);
}

a.sg-nav-link-lv-1 {
    //fine 
}

h3.sg-nav-link-lv-2 {
    padding: 0 ($unit / 2) 0 ($unit * 2);
}

a.sg-nav-link-lv-2 {
    padding: 0 ($unit / 2) 0 ($unit * 1.5);
}

a.sg-nav-link-lv-3 {
    padding: 0 ($unit / 2) 0 ($unit * 2);
}




// Bulk toggle options

.sg-options {
    form.sg-nav-link {
        padding-left: $unit;
    }

    form,
    label {
        width: 100%;
    }
}

/* Navigtion Icon
---------------------------------------------------------------------------- */

.sg-nav-link {
    i {
        font-size: 14px;
        margin-left: -($unit / 2);
    }
}

// on.click h3.sg-nav-link-lv-0 js detects if .sg-nav-text is > $unit (30px)
// if yes, the container gets .multiline and we can reset the align-items: center;
// for the icon so that it always stays on top.
// -jLaz
@media screen and (min-width: 1025px) {
    .multiline {
        i {
            align-self: flex-start;
            margin-top: 3px;
        }
    }
}


/* Navigtion Item Text
---------------------------------------------------------------------------- */

.sg-nav-text {
    line-height: 1.4;
    display: block;
}

h3.sg-nav-link {
    .sg-nav-text {
        margin-left: 5px;
    }
}





/* -------------------------------------------------------------------------
 SG Sections
 ---------------------------------------------------------------------------- */

.sg-section {
    margin-bottom: $unit;   
}

/* fancy shit */

@-webkit-keyframes fadeIn { 
    0% { opacity:0; } 
    100% { opacity:1; } 
}

.sg-section {
    opacity: 0;
    animation: fadeIn ease 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
    @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
            animation-delay: #{$i}00ms;
        }
    }
}


/* Section Anchor
---------------------------------------------------------------------------- */

.sg-section-anchor {
    border-bottom: 1px solid $content-border-color;
    display: block;
    height: 51px;
    width: 100%;
}


/* Section Header
---------------------------------------------------------------------------- */

/* .sticky-header-helper {
    background: $body-bg-color;
    margin-left: -30px;
    padding: 0px 30px;
    // overlay fullscreen module previews on each side of the module section header
    width: calc(100vw - 60px - 30px); // 100vw - padding - -margin

    transition: width 0.4s ease;

    .nav-is-active & {
        width: calc(100vw - 25% - 60px - 30px); // 100vw - nav-width - padding - -margin
    } 
} */

.sg-section-header {
    background: $body-bg-color;
    border-bottom: 1px solid $content-border-color;

    &.fixed {
        box-sizing: border-box;
        position: fixed;
            top: 0;
        z-index: 1100;

        @media screen and (max-width: 767px) {         
            width: 100%;
        }

        @media screen and (min-width: 768px) { 
            transition: width 0.4s ease;
            width: 100%;
        }
    }

    &.fixed.absolute {
        position: absolute;
    }
}

@media screen and (min-width: 1025px) { 
    .nav-is-active {
        .sg-section-header.fixed {
            width: 100%;
        }
    }
}

.sg-header-group {
    @media screen and (min-width: 768px) { 
        display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
    }
}

.sg-title-container {
    display: flex;
        align-items: center;
    margin-left: $unit / 2;
    min-height: 50px;

}

.sg-section-title {
    border: 0;
    display: inline-block;
    font-size: 1.25em;
    line-height: 1.2;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 767px) { 
        font-size: 1em;
    }

    @media screen and (max-width: 1024px) { 
        padding: 10px 0;
    }
}


/* Section Buttons
---------------------------------------------------------------------------- */

.sg-button-container {
    @media screen and (max-width: 767px) { 
        @include clearfix;
        border-top: 1px solid $content-border-color;
        display: flex;
        justify-content: flex-end;
    }

    @media screen and (min-width: 768px) { 
        float: right;  
        border-left: 1px solid $content-border-color;
    }
}

.sg-btn {
    background: $btn-bg-color;
    border: 0;
    border-right: 1px solid $content-border-color;
    color: $btn-text-color;
    float: left;
    font-size: 16px; // For older browsers 
    font-size: 1rem;
    line-height: 50px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 50px;

    height: 50px;
    display: flex;
        align-items: center;
        justify-content: center;

    &:hover, 
    &:focus {
        background: $btn-bg-color-hover;
        outline: 0;
        
        i {
            color: $btn-text-color-hover;        
        }
    }

    &:last-child {
        border: 0;
    }
    
    &.sg-btn-active {
        outline: 0;
    }

    i,
    i:before {
        height: 14px;
        width: 14px;
    }

    i {
        &:before {
            background-repeat: no-repeat;
            background-size: contain;
            content: '';
            display: block;
        }
    }
    
    // some enhaced stuff b/c those icons are so different
    // https://github.com/TrySound/postcss-inline-svg
    // needs grunt styleguide --force

    // expand btn
    .fa-arrows-alt:before {
        background-image: svg-load('../img/font-awesome-svg/arrows-alt.svg', fill=$btn-text-color);
    }

    &:hover .fa-arrows-alt:before {
        background-image: svg-load('../img/font-awesome-svg/arrows-alt.svg', fill=$btn-text-color-hover);
    }
    
    // documentation btn
    .fa-align-left:before {
        background-image: svg-load('../img/font-awesome-svg/align-left.svg', fill=$btn-text-color);
    }

    &:hover .fa-align-left:before {
        background-image: svg-load('../img/font-awesome-svg/align-left.svg', fill=$btn-text-color-hover);
    }
    
    // source btn
    .fa-code {
        margin-top: -0.5px;
    }

    .fa-code,
    .fa-code:before {
        height: 19px;
        width: 22px;
    }

    .fa-code:before {
        background-image: svg-load('../img/font-awesome-svg/code.svg', fill=$btn-text-color, stroke=$btn-text-color, stroke-width=40);
    }

    &:hover .fa-code:before {
        background-image: svg-load('../img/font-awesome-svg/code.svg', fill=$btn-text-color-hover, stroke=$btn-text-color-hover, stroke-width=40);
    }
    
    // close btn
    .fa-times,
    .fa-times:before {
        height: 20px;
        width: 19px;
    }

    .fa-times:before {
        background-image: svg-load('../img/font-awesome-svg/times.svg', fill=$btn-text-color);
    }

    &:hover .fa-times:before {
        background-image: svg-load('../img/font-awesome-svg/times.svg', fill=$btn-text-color-hover);
    }
    
    // totop btn
    .fa-arrow-up,
    .fa-arrow-up:before {
        height: 17px;
        width: 17px;
    }

    .fa-arrow-up:before {
        background-image: svg-load('../img/font-awesome-svg/arrow-up.svg', fill=$btn-text-color);
    }

    &:hover .fa-arrow-up:before {
        background-image: svg-load('../img/font-awesome-svg/arrow-up.svg', fill=$btn-text-color-hover);
    }
    
    // back btn
    .fa-arrow-left:before {
        background-image: svg-load('../img/font-awesome-svg/arrow-left.svg', fill=$btn-text-color);
    }

    &:hover .fa-arrow-left:before {
        background-image: svg-load('../img/font-awesome-svg/arrow-left.svg', fill=$btn-text-color-hover);
    }
}


// Safari fix for icons in buttons (weren't centered)
button {
    i {
        width: 100%; 
    }
}


// we want to replace and modify some buttons depending on the view
.styleguide-full {
    .sg-btn-back {
        display: none;
    }

    .sg-btn-expand {
        @media screen and (max-width: 767px) { 
            border-left: 1px solid $content-border-color;
        }
    }
}

.styleguide-single {
    .sg-btn-expand,
    .sg-btn--top {
        display: none;
    }

    .sg-btn-back {
        @media screen and (max-width: 767px) { 
            border-left: 1px solid $content-border-color;
        }
    }

    .sg-btn--source {
        @media screen and (max-width: 767px) { 
            border: 0;
        }
    }
}



// we don't want display: block here
.sg-enhanced .sg-btn--source { 
    display: flex;
}


/*
.sg-btn--single {
    float: right;
}

.sg-btn--top {
    float: right;
}

.sg-btn--source,
.sg-btn--select {
    display: none;
}

// Show specific buttons we cut the mustard 
.sg-enhanced .sg-btn--source {
    display: block;
}

@media screen and (min-width: 1025px) {
    .sg-enhanced .sg-btn--select {
        display: block;
    }
}

.sg-btn--select {
    border-radius: 0;
    position: absolute;
    right: 1px;
    top: 1px;
    z-index: 1;
}

.sg-btn--select-active:hover:after {
    background: #111; // For older browsers
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    color: $white;
    content: 'Selected code ready to be copied';
    display: block;
    padding: 8px 16px; // For older browsers
    padding: 0.5rem 1rem;
    position: absolute;
    right: 8px; // For older browsers
    right: 0.5rem;
    top: 48px; // For older browsers
    top: 3rem;
    white-space: nowrap;
    z-index: 98;
}

.sg-btn--select-active:hover:before {
    border-color: transparent transparent $black;
    border-style: solid;
    border-width: 0 10px 10px;
    content: '';
    display: block;
    height: 0;
    left: 45%;
    position: absolute;
    top: 40px;
    top: 2.5rem;
    width: 0;
    z-index: 99;
}
*/


/* Section Code Preview
---------------------------------------------------------------------------- */

.sg-source {
    position: relative;

    /* experimental */
    max-height: 50vh;
    margin: 0 0 $unit;
    overflow: auto;

    pre {
        background: $light-grey !important;
        overflow-x: scroll;
        margin: 0 !important;

        code {
            background: transparent;
            -webkit-font-smoothing: antialiased;
        }
    }
}


/* Hide source code blocks off-screen */
.sg-enhanced .sg-source {
    opacity: 0;
    position: absolute;
        top: -100%;
    width: 1px;
    transition: opacity 0.6s ease-out;
}

/* Show source code blocks when active or JS is not enabled */
.sg-enhanced .sg-source-active {
    opacity: 1;
    position: relative;
    width: 100%;
}


/* Section Documentation Preview
---------------------------------------------------------------------------- */

.sg-doc {
    max-height: 50vh;
    margin: 0 0 $unit;
    overflow: auto;
    position: relative;
}


/* Hide source code blocks off-screen */
.sg-enhanced .sg-doc {
    opacity: 0;
    position: absolute;
    top: -100%;
    width: 1px;
    transition: opacity 0.6s ease-out;
}

/* Show source code blocks when active or JS is not enabled */
.sg-enhanced .sg-doc-active {
    opacity: 1;
    position: relative;
    width: 100%;
}


/* Section Markdown Documentation
---------------------------------------------------------------------------- */

.sg-doc { 
    background: $light-grey;
    border: 0;
    margin: 0;
}

.markdown-body { 
    h1,
    h2,
    h3 {
        border: 0;
        padding: 0;
    }

    h1 {
        font-size: 1.8em;
    }

    blockquote {
        padding: 0 0 0 1em;
        color: $text-color;
        border-left: 0.25em solid $primary-color;
    }

    p {
        font-size: 1em;
        margin: 0;
    }

    pre,
    code {
        background: $grey;
    }
}

.markdown-body {
    padding: $unit / 2;
    
    @media screen and (min-width: 768px) {
        max-width: 83%; // 83% = 10col
    }
}


/* Section Preview
---------------------------------------------------------------------------- */

.sg-preview {
    margin: $unit 0 0;
    position: relative; // prevent module position fixed elements from thinking out of their box.
}


/* -------------------------------------------------------------------------
 Modules
 ---------------------------------------------------------------------------- */

/* Branding
---------------------------------------------------------------------------- */

.sg-logo {
    float: left;
    font-size: 1em;
    line-height: 2;
    margin: 0;
    padding: 0;
}

.sg-logo-full {
    display: none;
}

.sg-logo em {
    font-style: normal;
}

@media screen and (min-width: 650px) {
    .sg-logo-initials {
        display: none;
    }

    .sg-logo-full {
        display: inline;
    }
}





/* Custom checkboxes
---------------------------------------------------------------------------- */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    
    // label

    + label {
        position: relative;
        padding-left: 1.95em;
        cursor: pointer;
    }
    
    // checkbox default

    + label:before {
        background: $white;
        border: 1px solid $grey;
        content: '';
        height: 16px;
        margin-top: 3px;
        position: absolute;
            left: 0; 
            top: 0;
        width: 16px; 
    }

    // checkbox checked

    + label:after {
        background: svg-load('../img/font-awesome-svg/check.svg', fill=$btn-text-color-hover);
        background-repeat: no-repeat;
        background-size: 14px;
        color: $text-color;
        content: '';
        height: 14px;
        position: absolute;
            left: 1px;
            top: 4px; 
        transition: all 0.2s ease;
        width: 14px;
    }

    // checkbox disabled

    &:disabled {
        + label:before,
        + label:after,
        + label {
            opacity: 0.5;   
        }

        + label {
            cursor: not-allowed;
        }
    }
}


[type="checkbox"]:not(:checked) {
    + label:after {
        opacity: 0;
        transform: scale(0);
    }
}

[type="checkbox"]:checked {
    + label:after {
        opacity: 1;
        transform: scale(1);
    }
}



/* Responsive Videos
---------------------------------------------------------------------------- */

.sg-video {
    height: 0;
    padding-top: 56.25%;
    position: relative;
}

.sg-video video {
    height: 100%;
    position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    width: 100%;
    z-index: 100;
}




/* Fonts List
---------------------------------------------------------------------------- */

.sg-font-list,
.sg-font-list li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sg-font-list {
    font-size: 1.1em;
}

.sg-font-list dt {
    display: block;
    padding-bottom: 0.25em;
}

.sg-font-list dd {
    border-bottom: 1px solid #ddd;
    display: block;
    margin-bottom: 0.75em;
    margin-left: 0;
    padding-bottom: 0.75em;
}

@media only screen and (min-width: 760px) {
    .sg-font-list dt {
        float: left;
        padding-right: 0.25em;
    }
}
