// Inner indent mixin

@mixin indent-inner(
    $side: left right, // Indent side (options: left, right, left right (= both), default: left right)
    $property: padding, // CSS property (options: margin, padding, default: padding)
    $map: $indent-inner, // Sass map with indents based on breakpoints (default: $indent-inner)
    $negative: false, // Negative indent (options: true, false, default: false)
    $offset: false // List map with breakpoints or amount of pixels that should be added to or removed from the $side values
) {

    // Use indent mixin
    // with pre configuration for inner indent
    @include indent($side, $property, $map, $negative, $offset);
}
